<section layout-padding>

    <section layout="row">
        <h2 class="md-headline" flex>
            World settings of: {{ worldsSettingsCtrl.world.name }}

            <md-button ng-click="worldsSettingsCtrl.changeWorldName($event)">
                <md-icon
                    md-menu-align-target
                    md-svg-icon="pencil_dark">
                </md-icon>
                <md-tooltip>
                    Change world name
                </md-tooltip>
            </md-button>
        </h2>
        <md-button class="md-raised md-warn md-fab" ng-click="worldsSettingsCtrl.deleteWorld($event)">
            <md-icon md-svg-icon="delete_light"></md-icon>
            <md-tooltip md-direction="left">
                Delete world
            </md-tooltip>
        </md-button>
    </section>

    <section layout="row">
        <h3 class="md-title" flex>
            Quests
        </h3>
        <md-button class="md-raised md-accent md-fab" ui-sref="base.worlds.quests.new({worldUuid: worldsSettingsCtrl.world.id})">
            <md-icon md-svg-icon="book_light"></md-icon>
            <md-tooltip md-direction="bottom">
                Create new quest
            </md-tooltip>
        </md-button>
        <md-button class="md-raised md-accent md-fab" ng-click="">
            <md-icon md-svg-icon="refresh_light"></md-icon>
            <md-tooltip md-direction="bottom">
                Sync with moodle
            </md-tooltip>
        </md-button>
    </section>

    <section layout="row" layout-wrap>
        <div ng-if="worldsSettingsCtrl.world.quests.length <= 0">
            Er zijn op het moment geen quests beschikbaar voor {{ worldsSettingsCtrl.world.name }}
        </div>
        <div ng-if="worldsSettingsCtrl.world.quests" flex="33"
            ng-repeat="quest in worldsSettingsCtrl.world.quests">
            <md-card>

                <section layout-padding layout-align="end start" layout>
                    <md-card-title flex>
                        <md-card-title-text flex>
                            <span class="md-headline">
                                {{ quest.name }}
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-menu>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin md-svg-icon="more_vert_dark"></md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                            <md-menu-item ui-sref="base.worlds.quests.edit({questUuid: quest.id, worldUuid: worldsSettingsCtrl.world.id })">
                                <md-button>
                                    <div layout="row">
                                        <md-icon
                                            md-menu-align-target
                                            md-svg-icon="pencil_dark">
                                        </md-icon>
                                        <p flex>
                                            Edit
                                        </p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-click="worldsSettingsCtrl.deleteQuest($event, quest)">
                                <md-button>
                                    <div layout="row">
                                        <md-icon
                                            md-menu-align-target
                                            md-svg-icon="delete_dark">
                                        </md-icon>
                                        <p flex>
                                            Delete
                                        </p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </section>

                <md-divider></md-divider>

                <section layout="column" layout-align="center center">
                    <div flex id="{{ quest.id }}"></div>
                </section>

                <md-divider></md-divider>

                <md-card-content>
                    {{ quest.description }}
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-switch class="md-primary"
                        ng-change="worldsSettingsCtrl.toggleQuest(quest)"
                        md-no-ink
                        aria-label="Toggle quest"
                        ng-model="quest.active">
                    </md-switch>
                </md-card-actions>


            </md-card>
        </div>
    </section>

</section>
