<cmd-loading-page ng-if="worldsSettingsCtrl.loading_page"></cmd-loading-page>

<section ng-if="!worldsSettingsCtrl.loading_page" layout layout-fill>
  <md-content layout="column" layout-padding flex=80 layout-fill md-whiteframe=1 id="main__content">
    <md-card>
      <md-card-content>
        <h1 class="md-title text--color--grey">
          {{ 'SETTINGS' | translate }}
        </h1>
        <section layout layout-padding>
          <span flex=50 flex-gt-sm=30>{{ 'STARTING_DATE' | translate}}</span>
          <md-datepicker ng-model="worldsSettingsCtrl.world.start" ng-change="worldsSettingsCtrl.patchWorldSettings()"
            md-open-on-focus md-placeholder="Datum"></md-datepicker>
        </section>
        <section layout layout-padding>
          <span flex=50 flex-gt-sm=30>
            {{ 'DURATION' | translate }}
          </span>
          <md-input-container>
            <label>{{ 'DURATION' | translate }}</label>
            <input ng-model="worldsSettingsCtrl.world.course_duration" type="number"
              ng-change="worldsSettingsCtrl.patchWorldSettings()" ng-model-options="{ debounce: 1000 }" />
            <div class="hint text--color--grey">{{ 'WEEKS' | translate}}</div>
          </md-input-container>
        </section>
        <section layout layout-padding>
          <span flex=50 flex-gt-sm=30>
            {{ 'TRELLO_USER' | translate }}
          </span>
          <md-input-container>
            <label>{{ 'TRELLO_USER' | translate }}</label>
            <input ng-model="worldsSettingsCtrl.world.trello_user_id" type="text"
              ng-change="worldsSettingsCtrl.patchWorldSettings()" ng-model-options="{ debounce: 1000 }" />
            <div class="hint text--color--grey">{{ 'TRELLO_USER_ID_TEXT' | translate}}</div>
          </md-input-container>
        </section>
      </md-card-content>
    </md-card>
  </md-content>
  <section layout="column" layout-align="space-between" layout-padding id="sidebar__content" flex=20>
    <section>
      <div class="md-headline text--color--grey">
        {{ 'TEACHERS' | translate }}
      </div>
      <md-list>
        <md-list-item ng-repeat="gamemaster in worldsSettingsCtrl.world.gamemasters">
          <img ng-if="gamemaster.avatar_hash" class="md-avatar round"
            ng-src="https://trello-members.s3.amazonaws.com/{{gamemaster.avatar_hash}}/30.png">
          <img ng-if="!gamemaster.avatar_hash" class="md-avatar round" gravatar-size="30"
            gravatar-src="gamemaster.email">
          <p>
            {{ gamemaster | fullUserName }}
          </p>
        </md-list-item>
      </md-list>
      <div class="md-headline text--color--grey">
        {{ 'TEAMS' | translate }}
      </div>
      <md-list>
        <md-list-item ng-repeat="guild in worldsSettingsCtrl.world.guilds | orderBy : 'name'">
          {{ guild.name }}
        </md-list-item>
      </md-list>
    </section>
    <section layout="column">
      <md-button layout class="success md-raised" ng-click="worldsSettingsCtrl.changeWorldName($event)">
        <md-icon md-svg-src="pencil_light">
        </md-icon>
        <span flex>
          {{ 'CHANGE_NAME' | translate }}
        </span>
      </md-button>
      <md-button layout class="md-warn md-raised" ng-click="worldsSettingsCtrl.deleteWorld($event)">
        <md-icon md-svg-src="delete_light">
        </md-icon>
        <span flex>
          {{ 'REMOVE_CLASS' | translate}}
        </span>
      </md-button>
    </section>
  </section>
</section>