<section layout-padding>

    <section layout="row">
        <h2 class="md-headline" flex>
            Class settings of: {{ worldsSettingsCtrl.world.name }}

            <md-button class="md-icon-button"
                ng-click="worldsSettingsCtrl.changeWorldName($event)">
                <md-icon md-svg-icon="pencil_dark">
                </md-icon>
                <md-tooltip md-direction="right" md-delay="1000">
                    Change class name
                </md-tooltip>
            </md-button>
        </h2>
        <md-button class="md-raised md-warn md-fab"
            ng-click="worldsSettingsCtrl.deleteWorld($event)">
            <md-icon md-svg-icon="delete_light"></md-icon>
            <md-tooltip md-direction="left" md-delay="1000">
                Delete class
            </md-tooltip>
        </md-button>
    </section>

    <section layout="row">
        <section flex class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex=20>
                        Name
                    </span>
                    <span flex=50>
                        Assignment
                    </span>
                    <span flex=10>
                        Active
                    </span>
                    <span flex=20 layout="row" layout-align="end">
                        <md-button class="md-icon-button"
                        ui-sref="base.worlds.quests.new({worldUuid: worldsSettingsCtrl.world.id})">
                            <md-icon md-svg-icon="add_light"></md-icon>
                            <md-tooltip md-direction="bottom" md-delay=1000>
                                New assignment
                            </md-tooltip>
                        </md-button>
                    </span>
                </div>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item
                    ng-repeat="quest in worldsSettingsCtrl.world.quests | orderBy : 'created_at'">
                        <span flex=20>
                            {{ quest.name }}
                        </span>
                        <span flex=50>
                            {{ quest.description }}
                        </span>
                        <span flex=10>
                            <div ng-repeat="v in [0]">
                                <md-switch class="md-primary"
                                ng-change="worldsSettingsCtrl.toggleQuest(quest)"
                                md-no-ink
                                aria-label="Toggle quest"
                                ng-model="quest.active">
                                </md-switch>
                            </div>
                        </span>
                        <span flex=20 layout="row">
                            <md-button class="md-icon-button"
                             ui-sref="base.worlds.quests.edit({questUuid: quest.id, worldUuid: worldsSettingsCtrl.world.id })">
                                    <md-icon md-svg-icon="pencil_dark"></md-icon>
                                    <md-tooltip md-delay="1000">
                                        Edit
                                    </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button"
                             ng-click="worldsSettingsCtrl.deleteQuest($event, quest)">
                                <md-icon md-svg-icon="delete_dark"></md-icon>
                                <md-tooltip md-delay="1000">
                                    Delete
                                </md-tooltip>
                            </md-button>
                        </span>
                    </md-list-item>
                </md-list>
            </md-content>
        </section>
    </section>


    <section layout="row">
        <h3 class="md-title" flex>
            Rewards and punishments
        </h3>
        <md-button class="md-raised md-accent md-fab">
            <md-icon
                md-svg-icon="pencil_light">
            </md-icon>
            <md-tooltip md-direction="right" md-delay="1000">
                New reward / punishment
            </md-tooltip>
        </md-button>
    </section>
</section>
