<cmd-loading-page ng-if="guildDetailFeedbackCtrl.loading_page"></cmd-loading-page>

<section ng-if="!guildDetailFeedbackCtrl.loading_page" layout layout-fill>
    <section flex=80 layout="column" layout-padding layout-margin>
        <section flex=50 layout>
            <section flex=100 id="chart" md-whiteframe=1>
            </section>
        </section>
    </section>
    <md-content flex=20 layout-fill>
        <md-list>
            <md-list-item ng-repeat="member in guildDetailFeedbackCtrl.members_data"
            ng-click="guildDetailFeedbackCtrl.selectMember(member)" layout>
                <span ng-style="{
                    'background': member.color
                }" style="width: 25px; height: 25px; border-radius: 50%;"></span>
                <span flex layout-padding>
                    <img class="round" gravatar-size=45 gravatar-src-once="member.email">
                    {{ member.name }}
                </span>
                <md-icon ng-if="member.selected" md-svg-src="done_dark"
                class="icon--color--green">
                </md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</section>
