<cmd-loading-page ng-if="guildDetailFeedbackCtrl.loading_page"></cmd-loading-page>

<section ng-if="!guildDetailFeedbackCtrl.loading_page" layout layout-fill>
    <section flex=80 layout="column" layout-padding layout-margin>
        <section flex=50 layout>
            <md-content flex=100 id="chart" md-whiteframe=1>
                <cmd-empty-state
                icon="again_dark"
                headline="Loading data."
                title="Be patient peasant.">
                </cmd-empty-state>
            </md-content>
        </section>
        <section flex=50 layout>
            <section flex layout-fill layout md-whiteframe=1>
                <md-content flex=50 layout="column">
                    <md-toolbar>
                        <span class="md-toolbar-tools">
                            Most endorsed rules
                        </span>
                    </md-toolbar>
                    <section flex layout="column" layout-align="space-around">
                        <div flex layout layout-align="start center" layout-padding layout-margin
                        ng-repeat="rule in guildDetailFeedbackCtrl.endorsed_rules | orderBy : '-amount' | limitTo : 5">
                            <md-icon class="icon__helper icon--size--36"
                                md-svg-icon="work_dark"
                                ng-if="rule.rule.rule_type === 1">
                            </md-icon>
                            <md-icon class="icon__helper icon--size--36"
                                md-svg-icon="group_work_dark"
                                ng-if="rule.rule.rule_type === 2">
                            </md-icon>
                            <md-icon class="icon__helper icon--size--36"
                                md-svg-icon="lightbulb_dark"
                                ng-if="rule.rule.rule_type === 3">
                            </md-icon>
                            <md-icon class="icon__helper icon--size--36"
                                md-svg-icon="description_dark"
                                ng-if="rule.rule.rule_type === 4">
                            </md-icon>
                            <span flex>
                                The student {{ rule.rule.rule }}
                            </span>
                            <em>
                                x {{ rule.amount }}
                            </em>
                        </div>
                    </section>
                </md-content>
                <section flex=5>
                    <!-- placeholder -->
                </section>
                <md-content flex=50 id="polar">
                    <cmd-empty-state
                    icon="again_dark"
                    headline="Loading data."
                    title="Be patient peasant.">
                    </cmd-empty-state>
                </md-content>
            </section>

        </section>
    </section>
    <md-content flex=20 layout-fill>
        <md-list>
            <md-list-item ng-repeat="member in guildDetailFeedbackCtrl.members_data"
            ng-click="guildDetailFeedbackCtrl.selectMember(member)" layout>
                <span style="width: 32px; height: 32px; border-radius: 50%;"
                ng-style="{
                    'background': member.color
                }"></span>
                <span flex layout-padding>
                    <img class="round" gravatar-size=32 gravatar-src-once="member.email">
                    <span>
                        {{ member.name }}
                    </span>
                </span>
                <md-icon ng-if="member.selected" md-svg-src="done_dark"
                class="icon--color--green">
                </md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</section>
