<cmd-loading-page ng-if="guildDetailFeedbackCtrl.loading_page"></cmd-loading-page>

<section ng-if="!guildDetailFeedbackCtrl.loading_page" layout layout-fill>
  <md-content layout="column" layout-fill flex=80 id="main__content" md-whiteframe=1 layout-padding>
    <md-card flex=50 id="chart">
      <cmd-empty-state
        icon="again_dark"
        headline="Loading data."
        title="Be patient peasant.">
      </cmd-empty-state>
    </md-card>
    <md-card layout flex=50>
      <section flex=50 id="polar">
          <cmd-empty-state
          icon="again_dark"
          headline="Loading data."
          title="Be patient peasant.">
          </cmd-empty-state>
      </section>
      <section flex=50 id="pie">
          <cmd-empty-state
          icon="again_dark"
          headline="Loading data."
          title="Be patient peasant.">
          </cmd-empty-state>
      </section>
    </md-card>
  </md-content>

  <section layout="column" layout-align="space-between" layout-padding id="sidebar__content" flex=20>
    <section>
      <span class="md-headline text--color--grey">
        Leden
      </span>
      <md-list>
        <md-list-item ng-repeat="member in guildDetailFeedbackCtrl.members_data" ng-click="guildDetailFeedbackCtrl.selectMember(member)" layout>
        <span style="width: 24px; height: 24px; border-radius: 50%;"
          ng-style="{
          'background': member.color
        }" class="icon__helper">
        </span>
        <span flex>
          {{ member.name }}
        </span>
        <md-icon ng-if="member.selected" md-svg-src="done_dark" class="icon--color--green"></md-icon>
        </md-list-item>
      </md-list>
    </section>
  </section>

</section>
