<section flex layout="column">
    <section ng-if="guildsOverviewCtrl.worlds.length < 1" layout-fill layout="column" layout-align="center center">
        <cmd-loading-page ng-if="guildsOverviewCtrl.loading_page"></cmd-loading-page>
        <section ng-if="!guildsOverviewCtrl.loading_page" layout="column" layout-align="center center">
            <span>
                <md-icon class="icon--size--192 icon--color--grey" md-svg-icon="world_dark">
                </md-icon>
            </span>
            <span class="md-headline">
                No classes found.
            </span>
            <span class="md-title text--color--blueGrey">
                Wait for a co&ouml;rdiantor to add you as a class lecturer.
            </span>
        </section>
    </section>
    <md-tabs class="md-primary" flex layout="column" layout-fill
        ng-if="guildsOverviewCtrl.worlds.length >= 1">
        <md-tab ng-repeat="world in guildsOverviewCtrl.worlds | orderBy: 'name'"
            flex layout="column" label="{{world.name}}">
            <md-tab-content layout="row" layout-align="start stretch">
                <md-button class="md-fab icon__fab" ng-click="guildsOverviewCtrl.newGuildDialog($event, world)">
                    <md-icon md-svg-icon="guild_light"></md-icon>
                    <md-tooltip md-direction="left">
                        Create new group
                    </md-tooltip>
                </md-button>
                <section flex layout="column">
                    <section flex layout="row" layout-margin>
                        <section ng-if="world.guilds.length < 1" layout-fill layout="column" layout-align="center center">
                            <span>
                                <md-icon class="icon--size--192 icon--color--grey" md-svg-icon="guild_dark">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Nope, the one in the corner
                                </md-tooltip>
                            </span>
                            <span class="md-headline">
                                No groups found.
                            </span>
                            <span class="md-title text--color--blueGrey">
                                Add a new group by clicking on the shield.
                            </span>
                        </section>
                        <div ng-scrollbars flex>
                            <div layout="row" layout-wrap>
                                <div flex=33
                                    ng-repeat="guild in world.guilds | orderBy: '-created_at'">
                                    <md-card>
                                        <md-toolbar layout-align="end center" layout>
                                            <md-card-title class="md-toolbar-tools">
                                                <md-card-title-text layout="row">
                                                    <span class="md-headline" flex>
                                                        {{guild.name}}
                                                    </span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-menu>
                                                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                    <md-icon md-menu-origin md-svg-icon="more_vert_light"></md-icon>
                                                </md-button>
                                                <md-menu-content width="4" >
                                                    <md-menu-item aria-label="View {{ guild.name }}" ui-sref="base.guilds.detail({guildUuid: guild.id})">
                                                        <md-button>
                                                            <div layout="row">
                                                                <md-icon
                                                                    md-menu-align-target
                                                                    md-svg-icon="eye_dark">
                                                                </md-icon>
                                                                <p flex>View</p>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item aria-label="Change guild settings" ui-sref="base.guilds.settings({guildUuid: guild.id})">
                                                        <md-button>
                                                            <div layout="row">
                                                                <md-icon
                                                                    md-menu-align-target
                                                                    md-svg-icon="settings_dark">
                                                                </md-icon>
                                                                <p flex>Settings</p>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-click="guildsOverviewCtrl.addGuildMember($event, world, guild)">
                                                        <md-button>
                                                            <div layout="row">
                                                                <md-icon
                                                                    md-menu-align-target
                                                                    md-svg-icon="add_dark">
                                                                </md-icon>
                                                                <p flex>Add student</p>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </md-toolbar>

                                        <md-card-content>
                                            <md-list
                                                dnd-list="guild.members"
                                                dnd-inserted="guildsOverviewCtrl.movePlayer(event, guild, item)">
                                                <md-list-item ng-if="guild.members.length < 1"
                                                     class="text--color--grey" layout layout-align="center center">
                                                    No students in this group yet.
                                                </md-list-item>
                                                <md-list-item ng-repeat="player in guild.members"
                                                    ng-if="guild.members.length >= 1"
                                                    dnd-draggable="player"
                                                    dnd-moved="guild.members.splice($index, 1)"
                                                    dnd-effect-allowed="move">
                                                    <img class="round" gravatar-size="45" gravatar-src="player.email" layout-padding>
                                                    <span flex>
                                                        {{ player.first_name }} {{ player.surname }}
                                                    </span>
                                                    <md-icon md-svg-icon="delete_dark" ng-click="guildsOverviewCtrl.removeGuildMember(player, guild)">
                                                        <md-tooltip md-direction="bottom" md-delay="1000">
                                                            Remove student from group
                                                        </md-tooltip>
                                                    </md-icon>
                                                </md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>

                                </div> <!-- End of guilds -->
                            </div>
                        </div>
                    </section>
                </section>

            </md-tab-content>
        </md-tab>
    </md-tabs>
</section>
