<section layout-fill layout>
    <section flex=80 layout-fill ng-scrollbars>
        <section layout layout-wrap>
            <div flex=33 layout-padding
            ng-repeat="behaviour in filtered = (behavioursCtrl.behaviours
            | filter: {
                behaviour: filters.free_search
            }
            )">
                <section layout-fill>
                    <md-card layout-fill layout-align="space-between">
                        <md-card-content layout="column">
                            <section layout="column" layout-align="center center">
                                <span class="md-title" layout layout-padding layout-align="center">
                                    {{ behaviour.behaviour }}
                                </span>
                            </section>
                            <md-divider layout-margin></md-divider>
                            <section layout="column">
                                <section flex layout layout-align="space-around">
                                    <div ng-repeat="reward in behaviour.rewards | orderBy: 'rupee'">
                                        <cmd-rupee type="ruby"
                                        ng-if="reward.rupee === 1"
                                        amount="{{reward.amount}}"
                                        ></cmd-rupee>
                                        <cmd-rupee type="sapphire"
                                        amount="{{reward.amount}}"
                                        ng-if="reward.rupee === 2">
                                        </cmd-rupee>
                                        <cmd-rupee type="emerald"
                                        amount="{{reward.amount}}"
                                        ng-if="reward.rupee === 3">
                                        </cmd-rupee>
                                        <cmd-rupee type="amethyst"
                                        amount="{{reward.amount}}"
                                        ng-if="reward.rupee === 4">
                                        </cmd-rupee>
                                    </div>
                                </section>
                            </section>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button>
                                <strong>
                                    Edit
                                </strong>
                            </md-button>
                            <md-button class="md-warn"
                             ng-click="behavioursCtrl.removeBehaviour(behaviour)">
                                <strong>
                                    Remove
                                </strong>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </section>
            </div>
        </section>
    </section>
    <md-content layout-fill flex=20>
        <md-subheader>
            Actions
        </md-subheader>
        <section layout="column">
            <md-button layout flex class="success md-raised"
            ng-click="behavioursCtrl.addBehaviour($event)">
                <md-icon md-svg-src="loyalty_light">
                </md-icon>
                <span flex>
                    New behaviour
                </span>
            </md-button>
        </section>
        <md-subheader>
            Filter options
        </md-subheader>
        <section layout-padding>
            <md-input-container class="md-block">
                <label>Rule</label>
                <input ng-model="filters.free_search">
            </md-input-container>
        </section>
    </md-content>
</section>
