<section layout-fill>

  <cmd-loading-page ng-if="guildRulesCtrl.loading_page"></cmd-loading-page>

  <cmd-empty-state ng-if="guildRulesCtrl.guilds.length < 1"
      icon="guild_dark"
      headline="No group found"
      title="Wait for a lecturer to add you to a group">
  </cmd-empty-state>

  <section ng-if="!guildRulesCtrl.loading_page && guildRulesCtrl.guilds.length >= 1" layout-fill>
    <section layout-fill ng-repeat="guild in guildRulesCtrl.guilds" ng-if="guild.id === guildRulesCtrl.selected_guild">

      <section ng-if="guild.rules.length >= 8">
        <md-content layout="column" flex=80 id="main__content" ng-scrollbars layout-padding md-whiteframe=1>
        </md-content>
        <section layout="column" layout-align="space-between" layout-padding id="sidebar__content" flex=20>
        </section>
        {{ guild.rules.length }}
      </section>

      <section layout layout-fill ng-if="guild.rules.length < 8">

        <md-content layout="column" flex=80 id="main__content" ng-scrollbars layout-padding md-whiteframe=1>
          <md-card layout-padding>
            <article>
              <h1 class="md-healine">
                Samenwerkingscontract
              </h1>
              <p>
                Om de samenwerking zo eerlijk mogenlijk te laten verlopen
                vragen wij elke project team afspraken op te stellen.
                Hieronder zie je een lijst met afspraken waarvan wij denken
                waaraan gehouden zou kunnen worden. Deze afspraken zijn
                onderverdeeld in vier categorieën:
              </p>
              <p layout layout-align="space-around" layout-padding>
                <span layout="column" layout-align="center center">
                    <md-icon class="icon--size--36" md-svg-icon="work_dark"></md-icon>
                    Houding
                </span>
                <span layout="column" layout-align="center center">
                    <md-icon class="icon--size--36" md-svg-icon="group_work_dark"></md-icon>
                    Functioneren binnen het team
                </span>
                <span layout="column" layout-align="center center">
                    <md-icon class="icon--size--36" md-svg-icon="lightbulb_dark"></md-icon>
                    Kennisontwikkeling
                </span>
                <span layout="column" layout-align="center center">
                    <md-icon class="icon--size--36" md-svg-icon="description_dark"></md-icon>
                    Verantwoording
                </span>
              </p>
              <p>
                  Kies tenminste acht afspraken met uit elke categorie
                  tenminste één afspraak. Ook kun je als team één eigen
                  afspraak opstellen.
              </p>
                  <em class="text--color--red">Let op:</em> elke week zal iedereen elkaar
                  beoordelen op de gemaakte afspraken.
              </p>
            </article>
          </md-card>
          <md-card>
            <md-toolbar>
              <div class="md-toolbar-tools">
                Afspraken
              </div>
            </md-toolbar>
            <md-list ng-if="guild.own_rule">
              <md-subheader>
                Eigen afspraak
              </md-subheader>
              <md-list-item layout>
                <span flex>
                  De student {{ guild.own_rule.rule }}
                </span>
                <md-icon md-svg-src="delete_dark" class="icon--color--red" ng-click="guildRulesCtrl.toggleRule(guild.own_rule,guild);">
                  <md-tooltip md-direction="left">
                    Verwijder afspraak
                  </md-tooltip>
                </md-icon>
              </md-list-item>
            </md-list>
            <md-list ng-repeat="rules in guild.possible_rules">
              <md-subheader class="md-no-sticky">
                <span ng-if="rules[0].rule_type === 1">
                  Houding
                </span>
                <span ng-if="rules[0].rule_type === 2">
                  Functioneren binnen het team
                </span>
                <span ng-if="rules[0].rule_type === 3">
                  Kennisontwikkeling
                </span>
                <span ng-if="rules[0].rule_type === 4">
                  Verantwoording
                </span>
              </md-subheader>
              <md-list-item ng-repeat="rule in rules">
                <md-checkbox ng-change="guildRulesCtrl.toggleRule(rule, guild)"
                ng-model="rule.selected"
                aria-label="Select rule">
                </md-checkbox>
                De student {{ rule.rule }}
              </md-list-item>
            </md-list>
          </md-card>
        </md-content>

        <section layout="column" layout-align="space-between" layout-padding id="sidebar__content" flex=20>
          <section>
              <h1 class="md-headline text--color--grey">
                  Checklist
              </h1>
              <md-list>
                  <md-list-item layout>
                    <span flex>
                      Houding ({{guild.requirements.attitude.selected}})
                    </span>
                    <md-icon ng-if="!guild.requirements.attitude.check" md-svg-src="close_dark" class="icon--color--red"></md-icon>
                    <md-icon ng-if="guild.requirements.attitude.check" md-svg-src="done_dark" class="icon--color--green"></md-icon>
                  </md-list-item>
                  <md-list-item layout>
                    <span flex>
                      Functioneren binnen het team ({{guild.requirements.functioning.selected}})
                    </span>
                    <md-icon ng-if="!guild.requirements.functioning.check" md-svg-src="close_dark" class="icon--color--red"></md-icon>
                    <md-icon ng-if="guild.requirements.functioning.check" md-svg-src="done_dark" class="icon--color--green"></md-icon>
                  </md-list-item>
                  <md-list-item layout>
                    <span flex>
                      Kennisontwikkeling ({{guild.requirements.knowledge.selected}})
                    </span>
                    <md-icon ng-if="!guild.requirements.knowledge.check" md-svg-src="close_dark" class="icon--color--red"></md-icon>
                    <md-icon ng-if="guild.requirements.knowledge.check" md-svg-src="done_dark" class="icon--color--green"></md-icon>
                  </md-list-item>
                  <md-list-item layout>
                    <span flex>
                      Verantwoording ({{guild.requirements.justification.selected}})
                    </span>
                    <md-icon ng-if="!guild.requirements.justification.check" md-svg-src="close_dark" class="icon--color--red"></md-icon>
                    <md-icon ng-if="guild.requirements.justification.check" md-svg-src="done_dark" class="icon--color--green"></md-icon>
                  </md-list-item>
              </md-list>
              <h2 class="md-title text--color--grey">
                  Opstellen
              </h2>
              <section>
                <div ng-if="guild.selected_rules.length < 8">
                    <md-progress-linear flex md-mode="determinate" value="{{ guild.selected_rules.length * 100 / 8 }}">
                    </md-progress-linear>
                    <div class="text--color--grey">
                      Kies nog minimaal {{ 8 - guild.selected_rules.length | positiveInteger }}
                      <span ng-if="8 - guild.selected_rules.length === 1">afspraak</span>
                      <span ng-if="8 - guild.selected_rules.length != 1">afspraken</span>
                    </div>
                </div>
                <div ng-if="guild.selected_rules.length >= 8">
                  <div ng-if="!guild.requirements.attitude.check || !guild.requirements.functioning.check || !guild.requirements.knowledge.check || !guild.requirements.justification.check" layout layout-align="center">
                      <span class="text--color--grey">
                        Kies uit elke categorie tenminste één afspraak
                      </span>
                  </div>
                  <div ng-if="guild.requirements.attitude.check && guild.requirements.functioning.check && guild.requirements.knowledge.check && guild.requirements.justification.check" layout layout-align="center">
                      <md-button class="success md-raised" ng-click="guildRulesCtrl.addRulesToGuild($event, guild)">
                        Bekijk samenwerkingscontract
                      </md-button>
                  </div>
                </div>
              </section>
          </section>
          <section>
              <md-button ng-disabled="guild.own_rule" class="md-raised success md-block" layout-fill layout ng-click="guildRulesCtrl.addRule($event, guild)">
                  <md-icon md-svg-src="rules_light" ng-class="{'icon--color--grey' : guild.own_rule}"></md-icon>
                  <span flex>
                    Add rule
                  </span>
              </md-button>
              <md-tooltip md-direction="top" ng-if="guild.own_rule">
                Max één eigen regel per team
              </md-tooltip>
          </section>
        </section>

      </section>

    </section>
  </section>

</section>
