<section flex layout-fill>

    <cmd-loading-page ng-if="guildActivityCtrl.loading_page"></cmd-loading-page>

    <!-- <cmd-empty-state ng-if="guildActivityCtrl.guilds.length < 1 && !guildActivityCtrl.loading_page"
    icon="guild_dark"
    headline="No group found."
    title="Wait for a lecturer to add you to a class.">
    </cmd-empty-state> -->
    <section ng-if="true" layout-fill>
        <section layout-fill
            ng-repeat="guild in guildActivityCtrl.guilds"
            ng-if="guild.id === guildActivityCtrl.selected_guild">

            <section layout="column" layout-fill>
                <section layout flex layout-align="start stretch">
                    <section layout-fill layout>
                        <section ng-scrollbars flex=80>
                            <md-list class="timeline">
                                <div ng-if="filtered.length <= 0"
                                class="timeline__container" layout layout-align="start start">
                                    <md-button class="timeline__icon md-fab md-accent" md-no-ink
                                    aria-label="timeline icon">
                                        <md-icon md-svg-icon="cmd_book">
                                        </md-icon>
                                    </md-button>
                                    <md-list-item class="timeline__item">
                                        <md-content class="timeline__content" md-whiteframe=1 layout="column" flex>
                                            <section layout layout-align="space-between center">
                                                No activities found.
                                            </section>
                                        </md-content>
                                    </md-list-item>
                                </div>

                                <div class="timeline__container"
                                ng-repeat="activity in filtered = (guild.history_updates
                                | filter : {
                                    action_type: (filters.action_type | parseInt ),

                                } : true
                                | filter: {
                                    user_id: filters.user
                                }
                                | filter: {
                                    about: filters.free_search
                                })"
                                layout layout-align="start start">
                                    <md-button class="timeline__icon md-fab md-accent" md-no-ink
                                    aria-label="timeline icon">
                                        <md-icon ng-repeat="action_type in guildActivityCtrl.action_types"
                                            md-svg-icon="{{action_type.icon}}"
                                            ng-if="activity.action_type == action_type.type">
                                        </md-icon>
                                    </md-button>
                                    <md-list-item class="timeline__item">
                                        <md-content class="timeline__content" md-whiteframe=1 layout="column" flex>
                                            <section layout layout-align="space-between center">
                                                <div>
                                                    <span layout-margin>
                                                        <img class="round" gravatar-size=32 gravatar-src-once="activity.user.email">
                                                    </span>
                                                    {{ activity.user | fullUserName }}
                                                    <span ng-bind-html="activity.action | empasizeSubject : activity.about"></span>
                                                </div>
                                                <div class="text--color--grey">
                                                    <md-icon class="icon--color--grey" md-svg-icon="clock_dark"></md-icon>
                                                    {{ activity.created_at | fromNow }}
                                                </div>
                                            </section>
                                            <!-- {{ activity }} -->
                                        </md-content>
                                    </md-list-item>
                                </div>
                            </md-list>
                            <section layout layout-align="center center" layout-margin>
                                <md-button class="md-raised success"
                                    ng-if="!guildActivityCtrl.nothing_more_to_load"
                                    ng-click="guildActivityCtrl.loadMoreHistoryUpdates(guild)"
                                    ng-disabled="guildActivityCtrl.getting_more_activities"
                                    aria-label="Load more activities">
                                    <span ng-if="!guildActivityCtrl.getting_more_activities">
                                        LOAD MORE
                                    </span>
                                    <span ng-if="guildActivityCtrl.getting_more_activities">
                                        GETTING MORE ACTIVITIES
                                    </span>
                                </md-button>

                            </section>
                        </section>

                        <md-content flex=20>
                            <md-subheader>
                                Filter activities
                            </md-subheader>
                            <section layout-padding>
                                <md-input-container class="md-block">
                                    <label>Type</label>
                                    <md-select ng-model="filters.action_type">
                                        <md-option ng-value="undefined"> All </md-option>
                                        <md-option ng-repeat="action_type in guildActivityCtrl.action_types"
                                            ng-value="action_type.type" layout>
                                            <md-icon class="icon__helper icon--color--black"
                                            md-svg-icon="{{action_type.icon}}">
                                            </md-icon>
                                            {{action_type.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                            <section layout-padding>
                                <md-input-container class="md-block">
                                    <label>User</label>
                                    <md-select ng-model="filters.user">
                                        <md-option ng-value="undefined"> All </md-option>
                                        <md-option ng-repeat="user in guild.user_filter_list"
                                            ng-value="user.id">
                                            <img class="icon__helper round" gravatar-size=25 gravatar-src-once="user.email">
                                            {{user.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                            <section layout-padding>
                                <md-input-container class="md-block">
                                    <label>Subject</label>
                                    <input ng-model="filters.free_search"
                                    ng-model-options=" { debounce: 500 }">
                                    <div class="hint text--color--grey">
                                        The subject has a black background
                                    </div>
                                </md-input-container>
                            </section>
                        </md-content>
                    </section>
                </section>
            </section>

        </section>
    </section>


</section>
