<md-dialog aria-label="Add rule" flex=40>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        Stel afspraak op
      </h1>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>

    <form layout="column">

      <md-input-container flex>
        <label>De student</label>
        <input md-autofocus placeholder="is op tijd in de les" ng-model="addRuleCtrl.formInput.rule" />
      </md-input-container>

      <md-radio-group layout layout-align="space-around" ng-model="addRuleCtrl.formInput.rule_type">
        <div ng-repeat="type in addRuleCtrl.types" layout="column" layout-align="center center" ng-click="addRuleCtrl.formInput.rule_type = type.type">
          <md-icon class="icon--size--48" md-svg-icon="{{type.icon}}"></md-icon>
          <span>
            {{ type.name }}
          </span>
          <md-radio-button layout-padding value="{{type.type}}" aria-label="{{type.type}}" style="width: 20px;"></md-radio-button>
        </div>
      </md-radio-group>

      <h3 class="md-subhead">
        Hoe belangrijk vinden julllie deze regel als groep?
      </h3>

      <md-slider flex class="md-primary" step="1" min="0" max="100" ng-model="addRuleCtrl.formInput.importance" aria-label="Importance"></md-slider>

      <div layout>
        <strong flex=33 layout layout-align="start">Minder belangrijk</strong>
        <strong flex=33 layout layout-align="center">Belangrijk</strong>
        <strong flex=33 layout layout-align="end">Heel Belangrijk</strong>
      </div>

    </form>

    <em class="text--color--grey">
      Hoe belangerijker de regel, hoe meer punten de student kan verdienen.
    </em>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="addRuleCtrl.close()">
      <strong class="text--color--red">
        Cancel
      </strong>
    </md-button>
    <md-button ng-click="addRuleCtrl.addRule()">
      <strong class="text--color--green">
        Add
      </strong>
    </md-button>
  </md-dialog-actions>

</md-dialog>
