<cmd-loading-page ng-if="studentDashboardCtrl.loading_page"></cmd-loading-page>

<section ng-if="!studentDashboardCtrl.loading_page" layout-fill>
  <section ng-repeat="guild in studentDashboardCtrl.guilds" ng-if="guild.id === studentDashboardCtrl.selected_guild" layout-fill>
    <md-content id="main__content" layout-fill layout-padding ng-scrollbars>
      <section layout style="height: 350px;">
        <md-card flex=60 id="line__{{guild.id}}"></md-card>
        <md-card flex=40 id="polar__{{guild.id}}"></md-card>
      </section>
      main content
    </md-content>
  </section>
</section>
