<cmd-loading-page ng-if="accountDetailCtrl.loading_page"></cmd-loading-page>

<section layout flex ng-if="!accountDetailCtrl.loading_page">
  <md-content flex=100 layout-fill md-whiteframe=1 id="main__content">
    <section layout layout-wrap layout-fill>
      <div flex layout-margin>
        <md-card flex>
          <md-card-title>
            <md-card-avatar class="icon__helper" layout="column" layout-align="center center">
              <img ng-if="accountDetailCtrl.user.avatar_hash" alt="avater" class="round"
                ng-src="https://trello-avatars.s3.amazonaws.com/{{accountDetailCtrl.user.avatar_hash}}/50.png">
              <img ng-if="!accountDetailCtrl.user.avatar_hash" alt="avatar" class="round" gravatar-size="50"
                gravatar-src="accountDetailCtrl.user.email">
            </md-card-avatar>
            <md-card-title-text>
              <h1 class="md-headline" style="margin: 0;">
                {{ accountDetailCtrl.user | fullUserName }}
              </h1>
              <span class="md-subhead">
                <span ng-if="accountDetailCtrl.user.is_superuser">{{ 'COORDINATOR' | translate}}</span>
                <span ng-if="accountDetailCtrl.user.is_superuser && accountDetailCtrl.user.is_staff"> / </span>
                <span ng-if="accountDetailCtrl.user.is_staff">{{ 'TEACHER' | translate }}</span>
                <span
                  ng-if="!accountDetailCtrl.user.is_superuser && !accountDetailCtrl.user.is_staff">{{ 'STUDENT' | translate }}</span>
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <section layout layout-wrap>
              <md-list flex=100 flex-gt-sm="50">
                <h2 class="md-headline text--color--grey">
                  {{ 'PROFILE_GENERAL_INFORMATION' | translate }}
                </h2>
                <md-list-item layout ng-if="accountDetailCtrl.user.student_number">
                  <span flex=40> {{ 'STUDENT_NUMBER' | translate }} </span>
                  <span class="text--color--grey">
                    {{ accountDetailCtrl.user.student_number }}
                  </span>
                </md-list-item>
                <md-list-item layout>
                  <span flex=40> Email </span>
                  <span class="text--color--grey">
                    {{ accountDetailCtrl.user.email }}
                  </span>
                </md-list-item>
                <md-list-item layout>
                  <span flex=40> Athena {{ 'PROFILE_MEMBER_SINCE' | translate }} </span>
                  <span class="text--color--grey">
                    {{ accountDetailCtrl.user.created_at | momentDate : 'DD MMMM YYYY' }}
                  </span>
                </md-list-item>
              </md-list>
              <md-list flex=100 flex-gt-sm="50">
                <h2 class="md-headline text--color--grey">
                  {{ 'SETTINGS' | translate }}
                </h2>
                <md-list-item layout>
                  <span flex=60 layout="column">
                    <div>
                      {{ 'USE_HOTKEYS' | translate }}
                      <em class="text--color--grey">
                        (shift + ?)
                      </em>
                    </div>
                    <span class="text--color--grey">
                      {{ 'PROFILE_USE_HOTKEYS' | translate }}
                    </span>
                  </span>
                  <div>
                    <md-switch class="md-primary" ng-change="accountDetailCtrl.patchLocalSettings()"
                      ng-model="accountDetailCtrl.local_settings.enabled_hotkeys" aria-label="hotkeys">
                    </md-switch>
                  </div>
                </md-list-item>
                <md-list-item layout>
                  <span flex=60 layout="column">
                    {{ 'PROFILE_ASK_FOR_CONFIRMATION' | translate }}
                    <span class="text--color--grey">
                      {{ 'PROFILE_ASK_FOR_CONFIRMATION_EXPLANATION' | translate}}
                    </span>
                  </span>
                  <span>
                    <md-switch class="md-primary" ng-change="accountDetailCtrl.patchLocalSettings()"
                      ng-model="accountDetailCtrl.local_settings.enabled_confirmation" aria-label="confirmation">
                    </md-switch>
                  </span>
                </md-list-item>
                <md-list-item layout>
                  <span flex=60 layout="column">
                    <div>
                      {{ 'LANGUAGE' | translate }}
                    </div>
                  </span>
                  <div>
                    <md-input-container>
                      <md-select ng-model="accountDetailCtrl.language" ng-change="accountDetailCtrl.changeLanguage()">
                        <md-option value='nl-NL'>Nederlands</md-option>
                        <md-option value='en-EN'>English</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </md-list-item>
              </md-list>
              <md-list flex=50 ng-if="accountDetailCtrl.trello_account">
                <h2 class="md-headline text--color--grey">
                  Trello
                </h2>
                <md-list-item layout>
                  <span flex=40> {{ 'TRELLO_USER' | translate }} </span>
                  <span>
                    <a href="http://www.trello.com/{{ accountDetailCtrl.trello_account.username }}" target="_BLANK">
                      @{{ accountDetailCtrl.trello_account.username }}
                    </a>
                  </span>
                </md-list-item>
              </md-list>
            </section>
          </md-card-content>
        </md-card>
      </div>
    </section>
  </md-content>
</section>