<section layout-padding>

    <section layout="row">
        <h2 class="md-headline" flex>
            Guild settings of: {{ guildSettingsCtrl.guild.name }}

            <md-button ng-click="guildSettingsCtrl.changeGuildName($event)">
                <md-icon
                    md-menu-align-target
                    md-svg-icon="pencil_dark">
                </md-icon>
                <md-tooltip>
                    Change guild name
                </md-tooltip>
            </md-button>
            
        </h2>
        <md-button class="md-raised md-warn md-fab" ng-click="guildSettingsCtrl.deleteGuild($event)">
            <md-icon md-svg-icon="delete_light"></md-icon>
            <md-tooltip md-direction="left">
                Delete guild
            </md-tooltip>
        </md-button>
    </section>

</section>
