<md-dialog md-theme="default" aria-label="{{ confirmGuildRulesCtrl.about }}" flex="40">

    <md-dialog-content class="md-dialog-content" layout-padding>
        <h1 class="md-title ng-binding">
            {{ confirmGuildRulesCtrl.title }}
        </h1>

        <div class="md-dialog-content-body">
            <article>
                <p>
                    Please consider your choices before accepting the rules.
                    Make sure every member of your group agrees to the rules
                    before you accept them.
                </p>
                <p>
                    <em class="text--color--red">
                        Caution: Rules <strong>can not</strong> be changed anymore when you accept the rules.
                    </em>
                </p>
            </article>
            <h2 class="md-subhead">
                Selected rules:
            </h2>
            <md-list>
                <md-list-item ng-repeat="rule in confirmGuildRulesCtrl.rules | orderBy: 'rule_type'">
                    <md-icon class="icon__helper"
                        md-svg-icon="work_dark"
                        ng-if="rule.rule_type === 1">
                    </md-icon>
                    <md-icon class="icon__helper"
                        md-svg-icon="group_work_dark"
                        ng-if="rule.rule_type === 2">
                    </md-icon>
                    <md-icon class="icon__helper"
                        md-svg-icon="lightbulb_dark"
                        ng-if="rule.rule_type === 3">
                    </md-icon>
                    <md-icon class="icon__helper"
                        md-svg-icon="description_dark"
                        ng-if="rule.rule_type === 4">
                    </md-icon>
                    The student {{ rule.rule }}
                </md-list-item>
            </md-list>

        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <button class="md-primary md-button" type="button" aria-label="Cancel"
            ng-click="confirmGuildRulesCtrl.close()" md-ink-ripple>
            Cancel
        </button>
        <button class="md-primary md-button" type="button" aria-label="{{ confirmGuildRulesCtrl.about }}"
            ng-click="confirmGuildRulesCtrl.addRules()" md-ink-ripple>
            Accept {{ confirmGuildRulesCtrl.about }}
        </button>
    </md-dialog-actions>

</md-dialog>
