<md-dialog aria-label="Accepteer regels" flex="40">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        {{ 'STUDENT_RULES_CONFIRM_CHECK_AGREEMENTS' | translate}}
      </h1>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <article>
      <p>
        {{ 'STUDENT_RULES_CONFIRM_EXPLANATION' | translate}}
      </p>
      <p>
        <span class="text--color--red">{{ 'WARNING' | translate}}:</span>
        {{ 'STUDENT_RULES_CONFIRM_CANT_EDIT' | translate}}
      </p>
    </article>

    <h2 class="md-subhead text--color--grey">
      {{ 'STUDENT_RULES_CONFIRM_CHOSEN_AGREEMENTS' | translate }}
    </h2>

    <md-list>
      <md-list-item ng-repeat="rule in confirmGuildRulesCtrl.rules | orderBy: 'rule_type'">
        <md-icon class="icon__helper" md-svg-icon="work_dark" ng-if="rule.rule_type === 1"></md-icon>
        <md-icon class="icon__helper" md-svg-icon="group_work_dark" ng-if="rule.rule_type === 2"></md-icon>
        <md-icon class="icon__helper" md-svg-icon="lightbulb_dark" ng-if="rule.rule_type === 3"></md-icon>
        <md-icon class="icon__helper" md-svg-icon="description_dark" ng-if="rule.rule_type === 4"></md-icon>
        {{ 'THE_STUDENT' | translate}} {{ confirmGuildRulesCtrl.language === 'nl-NL' ? rule.rule : rule.rule_eng }}
      </md-list-item>
    </md-list>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="confirmGuildRulesCtrl.close()">
      <strong class="text--color--red">
        {{ 'CLOSE' | translate }}
      </strong>
    </md-button>
    <md-button ng-click="confirmGuildRulesCtrl.addRules()">
      <strong class="text--color--green">
        {{ 'CONFIRM' | translate }}
      </strong>
    </md-button>
  </md-dialog-actions>

</md-dialog>