<md-dialog aria-label="Accepteer regels" flex="40">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        Controleer afspraken
      </h1>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <article>
      <p>
        Zorg ervoor dat elk lid van je team akkoord gaat met de afspraken voordat je deze accepteeerd.
      </p>
      <p>
        <span class="text--color--red">Let op:</span> Afspraken kunnen <strong>niet</strong> meer veranderd worden nadat deze geaccepteerd zijn.
      </p>
    </article>

    <h2 class="md-subhead text--color--grey">
      Gekozen afspraken
    </h2>

    <md-list>
      <md-list-item ng-repeat="rule in confirmGuildRulesCtrl.rules | orderBy: 'rule_type'">
        <md-icon class="icon__helper" md-svg-icon="work_dark" ng-if="rule.rule_type === 1"></md-icon>
        <md-icon class="icon__helper" md-svg-icon="group_work_dark" ng-if="rule.rule_type === 2"></md-icon>
        <md-icon class="icon__helper" md-svg-icon="lightbulb_dark" ng-if="rule.rule_type === 3"></md-icon>
        <md-icon class="icon__helper" md-svg-icon="description_dark" ng-if="rule.rule_type === 4"></md-icon>
        De student {{ rule.rule }}
      </md-list-item>
    </md-list>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="confirmGuildRulesCtrl.close()">
      <strong class="text--color--red">
        Cancel
      </strong>
    </md-button>
    <md-button ng-click="confirmGuildRulesCtrl.addRules()">
      <strong class="text--color--green">
        Accept
      </strong>
      </md-button>
  </md-dialog-actions>

</md-dialog>
