<section layout-padding>

    <section layout="row">
        <h2 class="md-headline" flex>
            Change {{ worldsQuestsEditCtrl.quest.name }}
        </h2>
        <md-button class="md-raised md-accent md-fab" ui-sref="base.worlds.settings({worldUuid: worldsQuestsEditCtrl.worldUuid})">
            <md-icon md-svg-icon="back_light"></md-icon>
            <md-tooltip md-direction="left">
                Take me back
            </md-tooltip>
        </md-button>
    </section>

    <md-content class="md-whiteframe-z1" layout-padding>
        <form>
            <div layout="row">
                <md-input-container flex>
                    <label>Quest name</label>
                    <input required
                        ng-model="worldsQuestsEditCtrl.quest.name"
                        ng-change="worldsQuestsEditCtrl.makeSpiderChart()">
                </md-input-container>
                <md-input-container>
                    <label>Experience</label>
                    <input type="number" ng-model="worldsQuestsEditCtrl.quest.experience"
                        step="10" name="experience"/>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Description</label>
                    <textarea ng-model="worldsQuestsEditCtrl.quest.description" rows="25"></textarea>
                </md-input-container>
            </div>
        </form>
    </md-content>

    <section>
        <!-- Spacer -->
    </section>

    <md-content class="md-whiteframe-z1" layout-padding layout="row">
        <section flex="50" layout="column" layout-align="space-around">
            <div layout>
                <div flex="25" layout layout-align="left center">
                    <span class="md-body-1">
                        Interaction Design
                    </span>
                </div>
                <md-slider flex class="md-primary"
                    ng-model="worldsQuestsEditCtrl.quest.interaction_design"
                    ng-change="worldsQuestsEditCtrl.makeSpiderChart()"
                    md-discrete
                    step="5"
                    min="0"
                    max="100"
                    aria-label="Interaction Design">
                </md-slider>
            </div>
            <div layout>
                <div flex="25" layout layout-align="left center">
                    <span class="md-body-1">
                        Visual Interface Design
                    </span>
                </div>
                <md-slider flex class="md-primary"
                    ng-model="worldsQuestsEditCtrl.quest.visual_interface_design"
                    ng-change="worldsQuestsEditCtrl.makeSpiderChart()"
                    md-discrete
                    step="5"
                    min="0"
                    max="100"
                    aria-label="Visual Interface Design">
                </md-slider>
            </div>
            <div layout>
                <div flex="25" layout layout-align="left center">
                    <span class="md-body-1">
                        Frontend Development
                    </span>
                </div>
                <md-slider flex class="md-primary"
                    ng-model="worldsQuestsEditCtrl.quest.frontend_development"
                    ng-change="worldsQuestsEditCtrl.makeSpiderChart()"
                    md-discrete
                    step="5"
                    min="0"
                    max="100"
                    aria-label="Frontend Development">
                </md-slider>
            </div>
            <div layout>
                <div flex="25" layout layout-align="left center">
                    <span class="md-body-1">
                        Content management
                    </span>
                </div>
                <md-slider flex class="md-primary"
                    ng-model="worldsQuestsEditCtrl.quest.content_management"
                    ng-change="worldsQuestsEditCtrl.makeSpiderChart()"
                    md-discrete
                    step="5"
                    min="0"
                    max="100"
                    aria-label="Content management">
                </md-slider>
            </div>
            <div layout>
                <div flex="25" layout layout-align="left center">
                    <span class="md-body-1">
                        Project management
                    </span>
                </div>
                <md-slider flex class="md-primary"
                    ng-model="worldsQuestsEditCtrl.quest.project_management"
                    ng-change="worldsQuestsEditCtrl.makeSpiderChart()"
                    md-discrete
                    step="5"
                    min="0"
                    max="100"
                    aria-label="Project management">
                </md-slider>
            </div>
        </section>
        <section flex="50" layout layout-align="center center">
            <div id="spiderChart"></div>
        </section>
    </md-content>

    <section>
        <!-- Spacer -->
    </section>

    <md-content class="md-whiteframe-z1" layout-padding layout="row" layout-align="center center">
        <md-button class="md-raised success" ng-click="worldsQuestsEditCtrl.patchQuest()">
            Update
        </md-button>
    </md-content>
</section>
