<section flex layout="column">

    <cmd-loading-page ng-if="guildProgressCtrl.loading_page"></cmd-loading-page>

    <cmd-empty-state ng-if="guildProgressCtrl.guilds.length < 1 && !guildsOverviewCtrl.loading_page"
    icon="guild_dark"
    headline="No group found."
    title="Wait for a lecturer to add you to a class.">
    </cmd-empty-state>

    <section layout-fill ng-if="guildProgressCtrl.guilds.length >= 1 && !guildsOverviewCtrl.loading_page">
        <section flex layout layout-fill
        ng-repeat="guild in guildProgressCtrl.guilds"
        ng-if="guild.id === guildProgressCtrl.selected_guild">
            <cmd-empty-state ng-if="guild.no_trello_settings"
            icon="guild_dark"
            headline="No trello settings set"
            title="Ask your lecturer to set up your trello.">
            </cmd-empty-state>
            <cmd-empty-state ng-if="guild.no_world_settings"
            icon="guild_dark"
            headline="No class settings set"
            title="Ask your lecturer to set up your class.">
            </cmd-empty-state>
            <section layout="column" flex=80 layout-align="start stretch" layout-padding
            ng-if="!guild.no_trello_settings && !guild.no_world_settings">
                <section flex=50 layout="row" layout-margin>
                    <section flex=25 layout="column">
                        <section flex=50 layout>
                            <md-card flex layout-fill class="background--color--green" layout="column" layout-align="center center">
                                <span class="md-display-3">
                                    {{ guild.insight_data.cards_done }}
                                </span>
                                <span ng-if="guild.insight_data.cards_done <= 1">
                                    card done
                                </span>
                                <span ng-if="guild.insight_data.cards_done > 1">
                                    cards completed
                                </span>
                            </md-card>
                        </section>
                        <section flex=5>
                            <!-- layout filler -->
                        </section>
                        <section flex=50 layout>
                            <md-card flex layout-fill class="background--color--blue" layout="column" layout-align="center center">
                                <span class="md-display-3">
                                    {{ guild.insight_data.cards_in_progress }}
                                </span>
                                <span ng-if="guild.insight_data.cards_in_progress <= 1">
                                    card to go
                                </span>
                                <span ng-if="guild.insight_data.cards_in_progress > 1">
                                    cards to go
                                </span>
                            </md-card>
                        </section>
                    </section>
                    <md-card flex=75 id="cards_to_do_{{guild.id}}">
                    </md-card>
                </section>
                <section flex=50 ng-scrollbars>
                    <section layout layout-wrap>
                        <div flex=25 ng-repeat="member in guild.board.members">
                            <md-card>
                                <md-toolbar
                                ng-style="{
                                    'background': member.color
                                }">
                                    <span class="md-toolbar-tools" layout layout-align="center center">
                                        <strong>
                                            {{ member.name }}
                                        </strong>
                                    </span>
                                </md-toolbar>
                                <md-card-content layout="column">
                                    <md-list flex>
                                        <md-list-item layout flex layout-align="space-between center">
                                            <span>
                                                Cards
                                            </span>
                                            <strong class="md-headline">
                                                {{ member.cards.length }}
                                            </strong>
                                        </md-list-item>
                                        <md-list-item layout flex layout-align="space-between center">
                                            <span>
                                                Completed Cards
                                            </span>
                                            <strong class="md-headline">
                                                {{ member.completed_cards }}
                                            </strong>
                                        </md-list-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                        </div>
                    </section>
                </section>
            </section>
            <md-content flex=20 layout-fill layout="column"
            ng-if="!guild.no_trello_settings && !guild.no_world_settings">
                <md-subheader>
                    Actions
                </md-subheader>
                <section layout="column">
                    <md-button class="md-raised success" href="https://trello.com/b/{{guild.trello_board}}" target="_BLANK" layout>
                        <md-icon md-svg-src="external_link_light"></md-icon>
                        <span flex>
                            Goto board
                        </span>
                    </md-button>
                </section>
            </md-content>
        </section>

    </section>

</section>
