<md-dialog aria-label="Add rule" flex=40>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        {{ 'STUDENT_RULES_ADD_AGREEMENT' | translate }}
      </h1>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>

    <form layout="column">

      <section layout layout-align="start center">
        <span>
          {{ 'THE_STUDENT' | translate }}
        </span>
        <md-input-container class="md-block" flex style="margin: 24px 0 0 0;">
          <input md-autofocus aria-label="rule" ng-model="addGuildRuleCtrl.formInput.rule" />
        </md-input-container>
      </section>

      <md-radio-group layout layout-align="space-around" ng-model="addGuildRuleCtrl.formInput.type">
        <div ng-repeat="type in addGuildRuleCtrl.types" layout="column" layout-align="center center"
          ng-click="addGuildRuleCtrl.formInput.type = type.type">
          <md-icon class="icon__size--48" md-svg-icon="{{type.icon}}"></md-icon>
          <span>
            {{ type.name | translate }}
          </span>
          <md-radio-button layout-padding value="{{type.type}}" aria-label="{{type.type}}" style="width: 20px;">
          </md-radio-button>
        </div>
      </md-radio-group>

    </form>

    <em>
      {{ 'STUDENT_RULES_ADD_AGREEMENT_HELP_2' | translate}}

    </em>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="addGuildRuleCtrl.close()">
      <strong class="text--color--red">
        {{ 'CLOSE' | translate }}
      </strong>
    </md-button>
    <md-button ng-click="addGuildRuleCtrl.addRule()">
      <strong class="text--color--green">
        {{ 'CONFIRM' | translate}}
      </strong>
    </md-button>
  </md-dialog-actions>

</md-dialog>