<section layout-padding>

    <section layout="row">
        <h2 class="md-headline" flex>
            Classes overview
        </h2>
        <md-button class="md-raised md-accent md-fab" ng-click="worldsOverviewCtrl.newWorldDialog()">
            <md-icon md-svg-icon="world_light"></md-icon>
            <md-tooltip md-direction="left">
                Create new class
            </md-tooltip>
        </md-button>
    </section>

    <section layout="row" layout-wrap>
        <h3 ng-if="worldsOverviewCtrl.worlds.length < 1" class="md-title">
            No classes have been found, add a new world by clicking on the 'Create new class' button.
        </h3>
        <div flex="100"
            flex-gt-xs="50"
            flex-gt-sm="100"
            flex-gt-md="50"
            flex-lg="33"
            flex-gt-lg="25"
            ng-repeat="world in worldsOverviewCtrl.worlds | orderBy: 'created_at'">

            <md-card>
                <md-toolbar layout-padding layout-align="end center" layout>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                {{world.name}}
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-menu>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin md-svg-icon="more_vert_light"></md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                            <md-menu-item aria-label="Change world settings" ui-sref="base.worlds.settings({worldUuid: world.id})">
                                <md-button>
                                    <div layout="row">
                                        <md-icon
                                            md-menu-align-target
                                            md-svg-icon="settings_dark">
                                        </md-icon>
                                        <p flex>
                                            Settings
                                        </p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-click="worldsOverviewCtrl.addGamemaster($event, world)">
                                <md-button>
                                    <div layout="row">
                                        <md-icon
                                            md-menu-align-target
                                            md-svg-icon="add_dark">
                                        </md-icon>
                                        <p flex>
                                            Add lecturer
                                        </p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-toolbar>

                <md-divider></md-divider>

                <md-card-content>
                    <md-list dnd-list="world.gamemasters"
                        dnd-inserted="worldsOverviewCtrl.moveGamemaster(event, world, item)">
                        <md-list-item ng-repeat="gamemaster in world.gamemasters"
                            dnd-draggable="gamemaster"
                            dnd-moved="world.gamemasters.splice($index, 1)"
                            dnd-effect-allowed="move">
                            <img class="round" gravatar-size="45" gravatar-src="gamemaster.email" layout-padding>
                            <span flex>
                                {{ gamemaster.first_name }} {{ gamemaster.surname }}
                            </span>
                            <md-icon md-svg-icon="delete_dark" ng-click="worldsOverviewCtrl.removeGamemaster(gamemaster, world)">
                                <md-tooltip md-direction="bottom">
                                    Remove lecturer from {{ world.name }}
                                </md-tooltip>
                            </md-icon>
                        </md-list-item>
                    </md-list>
                </md-card-content>

            </md-card>

        </div> <!-- End of worlds -->

    </section>

</section>
