<section layout-fill>
  <cmd-loading-page ng-if="worldsOverviewCtrl.loading_page"></cmd-loading-page>

  <section ng-if="!worldsOverviewCtrl.loading_page" layout-fill>

    <md-button class="md-fab icon__fab" ng-click="worldsOverviewCtrl.newWorldDialog($event)">
      <md-icon md-svg-icon="world_light"></md-icon>
      <md-tooltip md-direction="left">
        Maak nieuwe klas
      </md-tooltip>
    </md-button>

    <cmd-empty-state ng-if="worldsOverviewCtrl.worlds.length < 1"
      icon="world_dark"
      headline="Geen klassen gevonden"
      action="worldsOverviewCtrl.newWorldDialog($event)"
      has-action="true"
      title="Voeg een nieuwe klas toe door op de wereldbol te klikken">
    </cmd-empty-state>

    <section ng-if="worldsOverviewCtrl.worlds.length >= 1" layout layout-fill>
      <md-content layout-padding flex layout-fill id="main__content">
        <section layout layout-wrap>
          <div flex=100 flex-gt-sm=50 flex-gt-md=33 ng-repeat="world in worldsOverviewCtrl.worlds | orderBy: 'created_at'">
            <md-card>
                <md-toolbar layout-align="end center" layout>
                    <md-card-title class="md-toolbar-tools">
                        <md-card-title-text>
                          {{world.name}}
                        </md-card-title-text>
                    </md-card-title>
                    <md-menu>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin md-svg-icon="more_vert_light"></md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                            <md-menu-item aria-label="Change world settings" ui-sref="base.worlds.settings({worldUuid: world.id})">
                                <md-button>
                                    <div layout="row">
                                        <md-icon
                                            md-menu-align-target
                                            md-svg-icon="settings_dark">
                                        </md-icon>
                                        <p flex> Instellingen </p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-click="worldsOverviewCtrl.addGamemaster($event, world)">
                                <md-button>
                                    <div layout="row">
                                        <md-icon
                                            md-menu-align-target
                                            md-svg-icon="add_dark">
                                        </md-icon>
                                        <p flex> Docent toevoegen </p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-toolbar>

                <md-card-content>
                    <section ng-if="world.gamemasters.length < 1">
                        <span class="text--color--grey" layout layout-align="center">
                            Er zitten (nog) geen docenten in deze klas
                        </span>
                    </section>
                    <md-list ng-if="world.gamemasters.length >= 1"
                        dnd-list="world.gamemasters"
                        dnd-inserted="worldsOverviewCtrl.moveGamemaster(event, world, item)">
                        <md-list-item ng-repeat="gamemaster in world.gamemasters"
                            dnd-draggable="gamemaster"
                            dnd-moved="world.gamemasters.splice($index, 1)"
                            dnd-effect-allowed="move">
                            <img ng-if="gamemaster.avatar_hash" class="round" src="http://trello-avatars.s3.amazonaws.com/{{gamemaster.avatar_hash}}/30.png">
                            <img ng-if="!gamemaster.avatar_hash" class="round" gravatar-size="30" gravatar-src="gamemaster.email">
                            <span flex layout-padding>
                                {{ gamemaster | fullUserName }}
                            </span>
                            <md-icon md-svg-icon="delete_dark" ng-click="worldsOverviewCtrl.removeGamemaster(gamemaster, world)">
                                <md-tooltip md-direction="bottom">
                                    Verwijder docent van {{ world.name }}
                                </md-tooltip>
                            </md-icon>
                        </md-list-item>
                    </md-list>
                </md-card-content>

            </md-card>
          </div>
        </section>
      </md-content>
    </section>

  </section>
</section>
