<md-dialog md-theme="default" aria-label="New behaviour" flex="40">
    <md-toolbar>
        <span class="md-toolbar-tools" layout layout-align="center center">
            New behaviour
        </span>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content" layout-padding>
        <div class="md-dialog-content-body">
            <form layout="column">
                <section layout>
                    <md-input-container flex>
                        The student:
                        <input md-autofocus
                        aria-label="behaviour"
                        ng-model="addBehaviourCtrl.formInput.behaviour" />
                    </md-input-container>
                </section>

                <section>
                    <h2 class="md-title">
                        Points
                    </h2>
                    <span class="md-subhead">
                        Points earned for this behaviour: {{ addBehaviourCtrl.formInput.points }}
                    </span>
                    <md-slider flex class="md-primary"
                    step="1"
                    min="0"
                    max="30"
                    ng-model="addBehaviourCtrl.formInput.points"
                    aria-label="Importance">
                    </md-slider>
                    <div layout layout-align="space-between">
                        <strong>0</strong>
                        <strong>Average</strong>
                        <strong>30</strong>
                    </div>
                </section>
            </form>
        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <button class="md-primary md-button" type="button" aria-label="Cancel"
            ng-click="addBehaviourCtrl.close()" md-ink-ripple>
            <strong class="text--color--red">
                Cancel
            </strong>
        </button>
        <button class="md-primary md-button" type="button" aria-label="{{ addBehaviourCtrl.about }}"
            ng-click="addBehaviourCtrl.addBehaviour()" md-ink-ripple>
            <strong class="text--color--green">
                Add {{ addBehaviourCtrl.about }}
            </strong>
        </button>
    </md-dialog-actions>

</md-dialog>
