.background {
    &--color {
        @each $name, $color in $colors {
            &--#{$name} {
                background: $color;
                color: white;
                font-weight: bold;
                text-shadow: 2px 2px #000;
            }
        }
    }
}
