.dndPlaceholder {
    background: $dndPlaceholder;
    height: 61px;
    list-style: none;
}

.dndDragging {
    border: 1px solid #BDBDBD;
    opacity: 0.5;
    md-icon {
        display: none;
    }
}

.dndDraggingSource {
    display: none;
}
