.focuses {
  .focus {
    display: inline-block;
    padding: 4px 8px;
    font-weight: bold;
    text-align: center;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }

    @each $name, $color in $colors {
      &--#{$name} {
        background: $color !important;
        color: white !important;
      }
    }
  }
}
