.icon {
    &__size {
        @each $size in $sizes {
            &--#{$size} {
                width: $size + px;
                height: $size + px;
            }
        }
    }
    &__color {
        @each $name, $color in $colors {
            &--#{$name} {
                svg {
                    fill: $color;
                }
            }
        }
    }
    &__fab {
        position: fixed;
        bottom: 24px;
        right: 24px;
    }
    &__helper {
        margin: auto 16px auto 0;
    }
}
