.md-button {
    &.success {
        background: $success !important;
        color: white !important;
    }
    &[disabled] {
        &.success {
            background: lighten($success, 25) !important;
        }
    }
}
