<section layout-fill layout="column" layout-align="center center">
    <span ng-if="emptyStateCtrl.icon">
        <md-button ng-if="emptyStateCtrl.hasAction">
            <md-icon class="icon--size--192 icon--color--grey md-icon-button" md-svg-icon="{{emptyStateCtrl.icon}}" ng-click="emptyStateCtrl.action()">
            </md-icon>
        </md-button>
        <md-icon ng-if="!emptyStateCtrl.hasAction" class="icon--size--192 icon--color--grey" md-svg-icon="{{emptyStateCtrl.icon}}" ng-click="emptyStateCtrl.action()">
        </md-icon>
    </span>
    <span class="md-headline">
        {{ emptyStateCtrl.headline }}
    </span>
    <span class="md-title text--color--blueGrey">
        {{ emptyStateCtrl.title }}
    </span>
    <span class="md-subtitle text--color--grey" ng-if="emptyStateCtrl.subtitle">
        {{ emptyStateCtrl.subtitle }}
    </span>
</section>
