<cmd-loading-page ng-if="guildDetailCtrl.loading_page"></cmd-loading-page>

<section flex layout="column" ng-if="!guildDetailCtrl.loading_page">
    <section flex layout="column" layout-fill layout-align="start stretch" layout-padding>
        <section flex=50 layout="row" layout-margin>
            <section flex=60 id="completed__tasks" md-whiteframe=1></section>
            <section flex=40 id="completed__tasks__explained" md-whiteframe=1>
            </section>
        </section>
        <section flex=50 ng-scrollbars layout-margin>
            <section layout layout-wrap>
                <div flex=25 ng-repeat="member in guildDetailCtrl.members_data">
                    <md-card>
                        <md-toolbar
                        ng-style="{
                            'background': member.color
                        }">
                            <span class="md-toolbar-tools" layout layout-align="center center">
                                {{ member.name }}
                            </span>
                        </md-toolbar>
                        <md-card-content layout>
                            <md-list flex>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Completed tasks
                                    </span>
                                    <strong class="md-headline">
                                        {{ member.completed__tasks }}
                                    </strong>
                                </md-list-item>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Highest points in one day
                                    </span>
                                    <strong class="md-headline">
                                        {{ _.max(member.data) || 0 }}
                                    </strong>
                                </md-list-item>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Average points per task
                                    </span>
                                    <strong class="md-headline">
                                        {{ (member.points / member.completed__tasks | roundToTwo) || 0 }}
                                    </strong>
                                </md-list-item>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Average points per day
                                    </span>
                                    <strong class="md-headline" style="font-weight: 900;"
                                    ng-class="{
                                        'text--color--red':        member.average_per_day < guildDetailCtrl.max_average_per_day * 0.2,
                                        'text--color--deepOrange': member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.2 && member.average_per_day < guildDetailCtrl.max_average_per_day * 0.3,
                                        'text--color--orange':     member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.3 && member.average_per_day < guildDetailCtrl.max_average_per_day * 0.4,
                                        'text--color--amber':      member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.4 && member.average_per_day < guildDetailCtrl.max_average_per_day * 0.5,
                                        'text--color--yellow':     member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.5 && member.average_per_day < guildDetailCtrl.max_average_per_day * 0.6,
                                        'text--color--lime':       member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.6 && member.average_per_day < guildDetailCtrl.max_average_per_day * 0.7,
                                        'text--color--lightGreen': member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.7 && member.average_per_day < guildDetailCtrl.max_average_per_day * 0.8,
                                        'text--color--green':      member.average_per_day >= guildDetailCtrl.max_average_per_day * 0.8
                                    }">
                                        {{member.average_per_day }}
                                    </strong>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
            </section>
        </section>
    </section>

</section>
