<section layout-padding>

    <div layout="row">
        <h2 class="md-headline" flex>
            {{ guildDetailCtrl.guild.name }}
        </h2>
    </div>

    <div layout="row">
        <md-card flex="33" ng-repeat="member in guildDetailCtrl.guild.members">
            <md-card-title layout="column" layout-align="center center">
                <img gravatar-src="member.email" class="round icon--size--96" gravatar-size="96" />
                <md-card-title-text>
                    <h2 class="md-headline" flex layout-margin>
                        {{ member.displayname }} {{ member.surname }}
                    </h2>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                {{ member.uid }}
            </md-card-content>
        </md-card>
    </div>

    <section>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex=10 layout="row" layout-align="center">
                    Completed
                </span>
                <span flex=80>
                    Assignment
                </span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="quest in guildDetailCtrl.guild.quests">
                    <span flex="10" ng-repeat="v in [0]"
                        layout="row" layout-align="center">
                        <md-checkbox style="margin-bottom: 0;" ng-model="quest.completed"
                            aria-label="Toggle status"
                            ng-click="guildDetailCtrl.patchQuestStatus(quest)">
                        </md-checkbox>
                    </span>
                    <span flex=80>
                        {{ quest.quest.name}}
                    </span>
                </md-list-item>
            </md-list>
        </md-content>
    </section>
</section>
