<cmd-loading-page ng-if="guildDetailCtrl.loading_page"></cmd-loading-page>

<section flex layout="column" ng-if="!guildDetailCtrl.loading_page">
    <md-toolbar>
        <div class="md-toolbar-tools" layout>
            <md-button class="md-icon-button" ui-sref="base.guilds.overview">
                <md-icon md-svg-src="back_light"></md-icon>
                <md-tooltip md-direction="top" md-delay="1000">
                    Take me back
                </md-tooltip>
            </md-button>
            <span flex>
                {{ guildDetailCtrl.guild.name }}
            </span>
        </div>
    </md-toolbar>

    <section flex layout="column" layout-fill layout-align="start stretch">
        <section flex=50 layout="row" layout-margin>
            <section flex=60 id="completed__tasks" md-whiteframe=1></section>
            <section flex id="completed__tasks__explained" md-whiteframe=1>
            </section>
        </section>
        <section flex=50 ng-scrollbars>
            <section layout="row" flex layout-wrap>
                <div flex="25" ng-repeat="member in guildDetailCtrl.members_data">
                    <md-card>
                        <md-toolbar
                        ng-style="{
                            'background': member.color
                        }">
                            <span class="md-toolbar-tools" layout layout-align="center center">
                                {{ member.name }}
                            </span>
                        </md-toolbar>
                        <md-card-content layout>
                            <md-list flex>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Completed tasks
                                    </span>
                                    <strong class="md-headline">
                                        {{ member.completed__tasks }}
                                    </strong>
                                </md-list-item>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Average points per task
                                    </span>
                                    <strong class="md-headline">
                                        {{ member.avererage }}
                                    </strong>
                                </md-list-item>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Highest points per day
                                    </span>
                                    <strong class="md-headline">
                                        {{ member.max }}
                                    </strong>
                                </md-list-item>
                                <md-list-item layout flex layout-align="space-between center">
                                    <span>
                                        Average points per day
                                    </span>
                                    <strong class="md-headline" style="font-weight: 900;"
                                    ng-class="{
                                        'text--color--red': member.average_day < 0.5,
                                        'text--color--deepOrange': member.average_day >= 0.5 && member.average_day < 1,
                                        'text--color--orange': member.average_day >= 1 && member.average_day < 1.5,
                                        'text--color--amber': member.average_day >= 1.5 && member.average_day < 2,
                                        'text--color--yellow': member.average_day >= 2 && member.average_day < 2.5,
                                        'text--color--lime': member.average_day >= 2 && member.average_day < 2.5,
                                        'text--color--lightGreen': member.average_day >= 2.5 && member.average_day < 3,
                                        'text--color--green': member.average_day >= 3,
                                    }">
                                        {{member.average_day }}
                                    </strong>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>

            </section>
        </section>
    </section>

</section>
