<md-dialog md-theme="default" aria-label="New behaviour" flex="50">
    <md-toolbar>
        <span class="md-toolbar-tools" layout layout-align="center center">
            Reward {{ rewardPlayersCtrl.player.user | fullUserName }}
        </span>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content-body">
            <form layout="column">
                <section>
                    <h2 class="md-title">
                        Behaviours
                    </h2>
                    <span class="md-subhead text--color--grey">
                        Reward {{ rewardPlayersCtrl.player.user | fullUserName }} on one or more behaviours.
                    </span>
                    <section layout layout-wrap>
                        <div layout-padding flex=33 ng-repeat="behaviour in rewardPlayersCtrl.behaviours"
                        ng-click="behaviour.selected = !behaviour.selected">
                            <md-card layout="column" layout-fill layout-align="space-around" layout-padding md-whiteframe=2
                            ng-style="{
                                'background' : (behaviour.selected ? ('#4CAF50' | hexToRgba : 25 ) : 'white')
                            }">
                                <strong class="md-title" style="text-align: center;">
                                    {{ behaviour.behaviour }}
                                </strong>
                                <!-- {{ behaviour.selected }} -->
                                <section flex layout layout-align="space-around end">
                                    <div ng-repeat="reward in behaviour.rewards | orderBy: 'rupee'">
                                        <cmd-rupee type="ruby"
                                        ng-if="reward.rupee === 1"
                                        amount="{{reward.amount}}"
                                        ></cmd-rupee>
                                        <cmd-rupee type="sapphire"
                                        amount="{{reward.amount}}"
                                        ng-if="reward.rupee === 2">
                                        </cmd-rupee>
                                        <cmd-rupee type="emerald"
                                        amount="{{reward.amount}}"
                                        ng-if="reward.rupee === 3">
                                        </cmd-rupee>
                                        <cmd-rupee type="amethyst"
                                        amount="{{reward.amount}}"
                                        ng-if="reward.rupee === 4">
                                        </cmd-rupee>
                                    </div>
                                </section>
                            </md-card>
                        </div>
                    </section>
                    <!-- <section layout layout-align="space-around">
                        <div layout="column" layout-align="center center" layout-margin
                        ng-repeat="rupee in rewardPlayersCtrl.formInput.rupees">
                            <cmd-rupee type="{{rupee.name}}"></cmd-rupee>
                            <md-input-container>
                                <label>Amount</label>
                                <input type="number" name="amount"
                                ng-model="rupee.amount" min=0 max=50 />
                            </md-input-container>
                        </div>
                    </section> -->
                </section>
            </form>
        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <button class="md-primary md-button" type="button" aria-label="Cancel"
            ng-click="rewardPlayersCtrl.close()" md-ink-ripple>
            <strong class="text--color--red">
                Cancel
            </strong>
        </button>
        <button class="md-primary md-button" type="button" aria-label="{{ rewardPlayersCtrl.about }}"
            ng-click="rewardPlayersCtrl.addStimulance()" md-ink-ripple>
            <strong class="text--color--green">
                Add {{ rewardPlayersCtrl.about }}
            </strong>
        </button>
    </md-dialog-actions>

</md-dialog>
