<md-toolbar layout="row"
    layout-padding
    md-component-id="main__toolbar"
    id="main__toolbar"
    ng-class="{
        'z__index': toolbarCtrl.index
    }">
    <md-icon hide-gt-sm
        aria-label="toggle menu"
        md-svg-icon="menu_light"
        ng-click="toolbarCtrl.toggleNavigation()"
        class="icon--size--40">
    </md-icon>
    <h1 class="md-title" flex>
        [PLATFORM NAME]
    </h1>
    <md-icon md-svg-icon="school_light"
        ng-if="toolbarCtrl.access === 2"
        class="icon--size--40">
        <md-tooltip md-direction="left">
            You have game master access
        </md-tooltip>
    </md-icon>
    <md-icon md-svg-icon="gavel_light"
        ng-if="toolbarCtrl.access === 3"
        class="icon--size--40">
        <md-tooltip md-direction="left">
            You have god access
        </md-tooltip>
    </md-icon>
</md-toolbar>
