<md-toolbar md-component-id="main__toolbar" id="main__toolbar" class="md-menu-toolbar" layout layout-align="start center" ng-if="toolbarCtrl.access > 0">
    <section layout flex layout-align="start center">
        <md-button aria-label="toggle menu" class="md-icon-button" ng-click="toolbarCtrl.toggleNavigation()" hide-gt-sm>
            <md-icon md-svg-icon="menu_dark">
            </md-icon>
        </md-button>
        <section layout layout-align="start center" flex>
            <section class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-if="toolbarCtrl.back_route" ng-click="toolbarCtrl.changeState()">
                    <md-icon md-svg-src="back_dark"></md-icon>
                    <md-tooltip md-delay="1000">
                        Take me back
                    </md-tooltip>
                </md-button>
                <h1>
                    {{ toolbarCtrl.route_title }}
                </h1>
                <md-menu-bar ng-if="toolbarCtrl.access === 1" layout>
                    <md-icon md-svg-src="guild_dark" ng-class="{
                        'icon--color--grey': toolbarCtrl.guilds.length === 0
                    }"></md-icon>
                    <md-menu ng-if="toolbarCtrl.guilds.length >= 2">
                        <md-button ng-click="$mdMenu.open()">
                            <strong layout-padding>
                                {{ toolbarCtrl.selected_guild.name }}
                            </strong>
                            <md-icon md-svg-src="expand_more_dark"></md-icon>
                        </md-button>
                        <md-menu-content width="4" class="main__toolbar__menu">
                            <md-menu-item ng-repeat="guild in toolbarCtrl.guilds" ng-if="guild.id != toolbarCtrl.selected_guild.id" ng-click="toolbarCtrl.changeGuild(guild)">
                                <md-button>
                                    <div layout="row">
                                        <p flex>{{ guild.name }}</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <section ng-if="toolbarCtrl.guilds.length === 1">
                        <button ng-disabled="true">
                            <strong layout-padding>
                                {{ toolbarCtrl.selected_guild.name }}
                            </strong>
                        </button>
                    </section>
                    <section ng-if="toolbarCtrl.guilds.length === 0">
                        <button ng-disabled="true">
                            <strong layout-padding>
                                No group(s) found
                            </strong>
                        </button>
                    </section>
                </md-menu-bar>
                <md-menu-bar ng-if="toolbarCtrl.access >= 2" layout>
                    <md-icon md-svg-src="world_dark" ng-class="{
                        'icon--color--grey': toolbarCtrl.worlds.length === 0
                    }"></md-icon>
                    <md-menu ng-if="toolbarCtrl.worlds.length >= 2">
                        <md-button ng-click="$mdMenu.open()">
                            <strong layout-padding>
                                {{ toolbarCtrl.selected_world.name }}
                            </strong>
                            <md-icon md-svg-src="expand_more_dark"></md-icon>
                        </md-button>
                        <md-menu-content width="4" class="main__toolbar__menu">
                            <md-menu-item ng-repeat="world in toolbarCtrl.worlds" ng-if="world.id != toolbarCtrl.selected_world.id" ng-click="toolbarCtrl.changeWorld(world)">
                                <md-button>
                                    <div layout="row">
                                        <p flex>{{ world.name }}</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <section ng-if="toolbarCtrl.worlds.length === 1">
                        <button ng-disabled="true">
                            <strong layout-padding>
                                {{ toolbarCtrl.selected_world.name }}
                            </strong>
                        </button>
                    </section>
                    <section ng-if="toolbarCtrl.worlds.length === 0">
                        <button ng-disabled="true">
                            <strong layout-padding>
                                No class(es) found
                            </strong>
                        </button>
                    </section>
                </md-menu-bar>
            </section>
        </section>
        <section layout layout-align="start center">
            <md-menu-bar layout layout-align="start center">
                <md-menu>
                    <md-button layout ng-click="$mdMenu.open()">
                        <div layout style="padding-right: 8px;">
                            <img ng-if="toolbarCtrl.user.avatar_hash" class="round" ng-src="https://trello-avatars.s3.amazonaws.com/{{toolbarCtrl.user.avatar_hash}}/30.png">
                            <img ng-if="!toolbarCtrl.user.avatar_hash" class="round size--30" gravatar-size="30" gravatar-src="user.email">
                        </div>
                        <strong>
                            {{ toolbarCtrl.user | fullUserName }}
                        </strong>
                        <md-icon md-svg-src="expand_more_dark"></md-icon>
                    </md-button>
                    <md-menu-content width="4" class="main__toolbar__menu">
                        <md-menu-item ui-sref="base.account.detail">
                            <md-button layout>
                                <md-icon md-menu-align-target md-svg-icon="person_dark" class="icon__helper"> </md-icon>
                                <p flex>Profiel</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-click="toolbarCtrl.logout()">
                            <md-button layout>
                                <md-icon md-menu-align-target md-svg-icon="settings_dark" class="icon__helper"> </md-icon>
                                <p flex>Uitloggen</p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </section>
    </section>
</md-toolbar>
