<section layout flex>
    <section flex=80 layout-fill ng-scrollbars>
        <section layout layout-wrap>
            <div flex=25 layout-padding
            ng-repeat="rule in filtered = (rulesOverviewCtrl.rules
            | filter: {
                rule: filters.free_search
            }
            )">
                <section layout-fill>
                    <md-card layout-fill layout-align="space-between">
                        <md-card-content layout="column" layout-align="space-between center">
                            <md-icon class="icon--size--48"
                            md-svg-icon="work_dark"
                            ng-if="rule.rule_type === 1">
                            </md-icon>
                            <md-icon class="icon--size--48"
                            md-svg-icon="group_work_dark"
                            ng-if="rule.rule_type === 2">
                            </md-icon>
                            <md-icon class="icon--size--48"
                            md-svg-icon="lightbulb_dark"
                            ng-if="rule.rule_type === 3">
                            </md-icon>
                            <md-icon class="icon--size--48"
                            md-svg-icon="description_dark"
                            ng-if="rule.rule_type === 4">
                            </md-icon>
                            <section layout="column" layout-align="center center">
                                <strong layout-padding>
                                    The student:
                                </strong>
                                <em class="md-title" style="text-align: center;">
                                    {{ rule.rule }}
                                </em>
                            </section>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button
                             ng-click="rulesOverviewCtrl.deleteRule(rule)">
                                <strong>
                                    Edit
                                </strong>
                            </md-button>
                            <md-button class="md-warn"
                             ng-click="rulesOverviewCtrl.deleteRule(rule)">
                                <strong>
                                    Remove
                                </strong>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </section>
            </div>
        </section>
    </section>

    <md-content layout="column" layout-fill flex=20>
        <md-subheader>
            Actions
        </md-subheader>
        <section layout="column">
            <md-button layout flex class="success md-raised"
            ng-click="rulesOverviewCtrl.addRule()">
                <md-icon md-svg-src="rules_light">
                </md-icon>
                <span flex>
                    New rule
                </span>
            </md-button>
        </section>
        <md-subheader>
            Filter options
        </md-subheader>
        <section layout-padding>
            <md-input-container class="md-block">
                <label>Rule</label>
                <input ng-model="filters.free_search">
            </md-input-container>
        </section>
    </md-content>

</section>
