<section layout flex>
    <section flex=80 layout-margin>
        <md-content md-whiteframe=1>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex=90>
                        Rule
                    </span>
                    <span flex=10>
                        <!-- Action placeholder -->
                    </span>
                </div>
            </md-toolbar>
            <md-list layout-padding>
                <md-list-item ng-repeat="rule in rulesOverviewCtrl.rules | orderBy: 'rule_type'">
                    <span flex=90>
                        <md-icon class="icon__helper"
                        md-svg-icon="work_dark"
                        ng-if="rule.rule_type === 1">
                        </md-icon>
                        <md-icon class="icon__helper"
                        md-svg-icon="group_work_dark"
                        ng-if="rule.rule_type === 2">
                        </md-icon>
                        <md-icon class="icon__helper"
                        md-svg-icon="lightbulb_dark"
                        ng-if="rule.rule_type === 3">
                        </md-icon>
                        <md-icon class="icon__helper"
                        md-svg-icon="description_dark"
                        ng-if="rule.rule_type === 4">
                        </md-icon>
                        The student {{ rule.rule }}
                    </span>
                    <span flex=10 layout="row" layout-align="end">
                        <!-- <md-button class="md-icon-button"
                         ui-sref="base.worlds.quests.edit({questUuid: quest.id, worldUuid: worldsSettingsCtrl.world.id })">
                            <md-icon md-svg-icon="pencil_dark"></md-icon>
                            <md-tooltip md-delay="1000"> Edit </md-tooltip>
                        </md-button> -->
                        <md-button class="md-icon-button"
                         ng-click="rulesOverviewCtrl.deleteRule(rule)">
                            <md-icon md-svg-icon="delete_dark"></md-icon>
                            <md-tooltip md-delay="1000"> Delete </md-tooltip>
                        </md-button>
                    </span>
                </md-list-item>
            </md-list>
        </md-content>
    </section>

    <md-content layout="column" layout-fill flex=20>
        <md-subheader>
            Actions
        </md-subheader>
        <section layout="column">
            <md-button layout flex class="success md-raised"
            ng-click="rulesOverviewCtrl.addRule()">
                <md-icon md-svg-src="rules_light">
                </md-icon>
                <span flex>
                    New rule
                </span>
            </md-button>
        </section>
    </md-content>

</section>
