<cmd-loading-page ng-if="rulesOverviewCtrl.loading_page"></cmd-loading-page>
<section layout flex ng-if="!rulesOverviewCtrl.loading_page">
    <cmd-empty-state flex ng-if="rulesOverviewCtrl.rules.length < 1"
        icon="rules_dark"
        headline="Dobby has no master."
        title="Dobby is a free elf."
        subtitle="Or just add some rules on your right">
    </cmd-empty-state>
    <md-content flex=80 layout-fill layout-padding ng-scrollbars md-whiteframe=1 id="main__content" ng-if="rulesOverviewCtrl.rules.length >= 1">
        <section layout layout-wrap>
            <div flex=100 flex-gt-sm=50 flex-gt-md=33 flex-gt-lg=25
            ng-repeat="rule in filtered = (rulesOverviewCtrl.rules
            | filter: {
                rule: filters.free_search
            }
            )">
                <md-card layout-align="space-between">
                    <md-card-content layout="column" layout-align="space-between center">
                        <md-icon class="icon--size--36"
                        md-svg-icon="work_dark"
                        ng-if="rule.rule_type === 1">
                        </md-icon>
                        <md-icon class="icon--size--36"
                        md-svg-icon="group_work_dark"
                        ng-if="rule.rule_type === 2">
                        </md-icon>
                        <md-icon class="icon--size--36"
                        md-svg-icon="lightbulb_dark"
                        ng-if="rule.rule_type === 3">
                        </md-icon>
                        <md-icon class="icon--size--36"
                        md-svg-icon="description_dark"
                        ng-if="rule.rule_type === 4">
                        </md-icon>
                        <section layout="column" layout-align="center center">
                            <strong layout-padding>
                                De student
                            </strong>
                            <em class="md-title" style="text-align: center;">
                                {{ rule.rule }}
                            </em>
                        </section>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button>
                            <strong>
                                Edit
                            </strong>
                        </md-button>
                        <md-button class="md-warn"
                         ng-click="rulesOverviewCtrl.deleteRule(rule)">
                            <strong>
                                Remove
                            </strong>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </section>
    </md-content>

    <section flex=20 layout-padding layout="column" layout-align="space-between" id="sidebar__content">
        <section>
            <div class="md-title text--color--grey">
                Options
            </div>
            <md-input-container class="md-block">
                <label>Search rule</label>
                <input ng-model="filters.free_search">
            </md-input-container>
        </section>
        <section layout="column">
            <md-button layout flex class="success md-raised"
            ng-click="rulesOverviewCtrl.addRule()">
                <md-icon md-svg-src="rules_light">
                </md-icon>
                <span flex>
                    New rule
                </span>
            </md-button>
        </section>
    </section>

</section>
