<section flex layout="column">
    <md-toolbar>
        <span class="md-toolbar-tools">
            <span flex>
                Create assessment for {{ worldsQuestsNewCtrl.world.name }}
            </span>
            <md-button class="md-icon-button" ui-sref="base.worlds.settings({worldUuid: worldsQuestsNewCtrl.worldUuid})">
                <md-icon md-svg-icon="back_light"></md-icon>
                <md-tooltip md-direction="left">
                    Take me back
                </md-tooltip>
            </md-button>
        </span>
    </md-toolbar>

    <section flex layout="row" layout-fill layout-align="start stretch">
        <section flex=70 flex layout="column">
            <md-content flex=45 layout-margin md-whiteframe=1>

            </md-content>
            <md-content flex=55 layout layout-margin md-whiteframe=1>
                <section flex="50" layout="column" layout-align="space-around">
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <span class="md-body-1"> Interaction Design </span>
                        </div>
                        <md-slider flex class="md-primary"
                        ng-model="worldsQuestsNewCtrl.skills.interaction"
                        ng-change="worldsQuestsNewCtrl.updateChart()"
                        md-discrete
                        step="5"
                        min="0"
                        max="100"
                        aria-label="Interaction Design">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <span class="md-body-1"> Visual Design </span>
                        </div>
                        <md-slider flex class="md-primary"
                        ng-model="worldsQuestsNewCtrl.skills.visual"
                        ng-change="worldsQuestsNewCtrl.updateChart()"
                        md-discrete
                        step="5"
                        min="0"
                        max="100"
                        aria-label="Visual Design">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <span class="md-body-1"> Frontend Development </span>
                        </div>
                        <md-slider flex class="md-primary"
                        ng-model="worldsQuestsNewCtrl.skills.techniek"
                        ng-change="worldsQuestsNewCtrl.updateChart()"
                        md-discrete
                        step="5"
                        min="0"
                        max="100"
                        aria-label="Frontend Development">
                        </md-slider>
                    </div>
                </section>
                <section flex=50 layout layout-align="center center">
                    <div id="cmd__profile"></div>
                </section>
            </md-content>
        </section>
        <section flex layout-margin>
            <md-content md-whiteframe=1 layout-fill layout="column">
                <md-toolbar>
                    <span class="md-toolbar-tools">
                        Assessment settings
                    </span>
                </md-toolbar>
                <md-subheader>
                    Settings
                </md-subheader>
                <section layout="column" layout-padding>
                    <md-input-container>
                        <label>Quest name</label>
                        <input ng-model="worldsQuestsNewCtrl.formInput.name">
                    </md-input-container>
                    <md-input-container>
                        <label>Group power</label>
                        <input
                            ng-model="worldsQuestsNewCtrl.formInput.experience"
                            type="number"
                            step="10"
                            name="experience"/>
                    </md-input-container>
                </section>
                <md-subheader>
                    Assessments
                </md-subheader>
                <section>
                </section>

            </md-content>

        </section>
    </section>

</section>
