<section flex layout="column">
    <md-toolbar>
        <span class="md-toolbar-tools">
            <span flex>
                Create assessment for {{ worldsQuestsNewCtrl.world.name }}
            </span>
            <md-button class="md-icon-button" ui-sref="base.worlds.settings({worldUuid: worldsQuestsNewCtrl.worldUuid})">
                <md-icon md-svg-icon="back_light"></md-icon>
                <md-tooltip md-direction="left" md-delay="1000">
                    Take me back
                </md-tooltip>
            </md-button>
        </span>
    </md-toolbar>

    <section flex layout="row" layout-fill layout-align="start stretch">
        <section flex=80 flex layout="column">
            <md-content flex=50 layout-margin layout-padding md-whiteframe=1>
                <text-angular flex ng-model="worldsQuestsNewCtrl.formInput.description">
                </text-angular>
            </md-content>
            <md-content flex=50 layout layout-margin md-whiteframe=1>
                <section flex="60" layout="column" layout-align="space-around">
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <span class="md-body-1"> Interaction Design </span>
                        </div>
                        <md-slider flex class="md-primary"
                        ng-model="worldsQuestsNewCtrl.skills.interaction"
                        ng-change="worldsQuestsNewCtrl.updateChart()"
                        md-discrete
                        step="5"
                        min="0"
                        max="100"
                        aria-label="Interaction Design">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <span class="md-body-1"> Visual Design </span>
                        </div>
                        <md-slider flex class="md-primary"
                        ng-model="worldsQuestsNewCtrl.skills.visual"
                        ng-change="worldsQuestsNewCtrl.updateChart()"
                        md-discrete
                        step="5"
                        min="0"
                        max="100"
                        aria-label="Visual Design">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <span class="md-body-1"> Frontend Development </span>
                        </div>
                        <md-slider flex class="md-primary"
                        ng-model="worldsQuestsNewCtrl.skills.techniek"
                        ng-change="worldsQuestsNewCtrl.updateChart()"
                        md-discrete
                        step="5"
                        min="0"
                        max="100"
                        aria-label="Frontend Development">
                        </md-slider>
                    </div>
                </section>
                <section flex=40 layout layout-align="center center">
                    <div id="cmd__profile"></div>
                </section>
            </md-content>
        </section>
        <section flex layout-margin>
            <md-content md-whiteframe=1 layout-fill layout="column">
                <md-toolbar>
                    <span class="md-toolbar-tools">
                        Assessment settings
                    </span>
                </md-toolbar>
                <md-subheader>
                    Settings
                </md-subheader>
                <section layout="column" layout-padding>
                    <md-input-container style="margin: 0;">
                        <label>Moodle link</label>
                        <input type="url" ng-model="worldsQuestsNewCtrl.formInput.moodle">
                    </md-input-container>
                    <md-input-container style="margin: 0;">
                        <label>Quest name</label>
                        <input ng-model="worldsQuestsNewCtrl.formInput.name">
                    </md-input-container>
                    <md-input-container style="margin: 0;">
                        <label>Group power</label>
                        <input
                            ng-model="worldsQuestsNewCtrl.formInput.experience"
                            type="number"
                            step="10"
                            name="experience"/>
                    </md-input-container>
                </section>
                <md-subheader>
                    Objectives ({{worldsQuestsNewCtrl.objectives.length}})
                </md-subheader>
                <section layout="column" flex=55>
                    <md-button class="md-raised success" layout
                    ng-click="worldsQuestsNewCtrl.addObjective()">
                        <md-icon md-svg-icon="add_light"></md-icon>
                        <span flex>
                            Add Objective
                        </span>
                    </md-button>
                    <div layout="row">
                        <md-content ng-scrollbars flex>
                            <md-list>
                                <md-list-item layout
                                ng-repeat="objective in worldsQuestsNewCtrl.objectives">
                                    <span layout-padding flex>
                                        {{ objective.name }}
                                    </span>
                                    <md-button class="md-icon-button">
                                        <md-icon md-svg-icon="delete_dark"></md-icon>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </section>
                <section layout="column">
                    <md-button class="md-raised success" layout
                    ng-click="worldsQuestsNewCtrl.addQuest()">
                        <md-icon md-svg-icon="book_light"></md-icon>
                        <span flex>
                            Save assessment
                        </span>
                    </md-button>
                </section>
            </md-content>

        </section>
    </section>

</section>
