<cmd-loading-page ng-if="lecturerDashboardCtrl.loading_page"></cmd-loading-page>

<section layout flex ng-if="!studentsCtrl.loading_page">
  <md-content flex=100 layout-fill md-whiteframe=1 id="main__content">
    <section layout layout-wrap layout-fill>
      <section flex layout="column" layout-fill ng-repeat="world in lecturerDashboardCtrl.worlds"
        ng-if="world.id === lecturerDashboardCtrl.selected_world">
        <cmd-empty-state ng-if="world.not_configured" icon="world_dark"
          headline="{{ 'TOOLBAR_NO_GROUPS_FOUND' | translate }}" title="{{ 'WAIT_FOR_TEAM_LECTURER' | translate }}">
        </cmd-empty-state>
        <div flex ng-if="!world.not_configured" layout-margin>
          <cmd-empty-state ng-if="world.guilds.length < 1" icon="guild_dark"
            headline="{{ 'TOOLBAR_NO_CLASSES_FOUND' | translate }}" title="{{ 'WAIT_FOR_CLASS_LECTURER' | translate }}">
          </cmd-empty-state>
          <div layout="row" layout-wrap>
            <div flex=100 flex-gt-sm=50 flex-gt-md=33 ng-repeat="guild in world.guilds | orderBy: '-created_at'">
              <md-card>
                <md-toolbar>
                  <md-card-title class="md-toolbar-tools">
                    <md-card-title-text>
                      {{ guild.name }}
                    </md-card-title-text>
                  </md-card-title>
                </md-toolbar>
                <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab>
                    <md-tab-label>
                      {{ 'FEEDBACK' | translate }}
                    </md-tab-label>
                    <md-tab-body>
                      <md-list>
                        <md-list-item ng-repeat="member in guild.members | orderBy: 'endorsed_complete'" layout>
                          <div flex=50>
                            {{ member.user | fullUserName }}
                          </div>
                          <div flex=30>
                            <md-progress-linear md-mode="determinate" value="{{member.endorsed_complete | number : 1}}">
                            </md-progress-linear>
                          </div>
                          <div flex=20 layout layout-align="center">
                            {{ (member.endorsed_complete * (guild.rules.length * (guild.members.length - 1)) / 100) || 0 | number : 0 }}
                            / {{ guild.rules.length * (guild.members.length - 1) }}
                          </div>
                        </md-list-item>
                      </md-list>
                      <md-divider></md-divider>
                      <md-card-actions layout layout-align="end center">
                        <md-button layout aria-label="Feedback of {{ guild.name }}"
                          ui-sref="base.guilds.feedback({guildUuid: guild.id})">
                          <md-icon class="icon__helper" md-svg-icon="feedback_dark"></md-icon>
                          {{ 'VIEW_FEEDBACK' | translate }}
                        </md-button>
                      </md-card-actions>
                    </md-tab-body>
                  </md-tab>

                  <md-tab>
                    <md-tab-label>
                      {{ 'OVERDUE_CARDS' | translate }} ({{ guild.cards_overdue.length || 0 }})
                    </md-tab-label>
                    <md-tab-body>
                      <section ng-if="!lecturerDashboardCtrl.user.trello">
                        {{ 'NO_TRELLO_USER' | translate }}
                      </section>
                      <md-list md-virtual-repeat-container style="height:208px"
                        ng-if="lecturerDashboardCtrl.user.trello">
                        <md-list-item ng-if="guild.trello_not_configured" class="text--color--grey">
                          {{ 'TRELLO_NOT_CONFIGURED' | translate }}
                        </md-list-item>
                        <md-list-item ng-if="!guild.trello_not_configured && guild.cards_overdue.length === 0"
                          class="text--color--grey">
                          {{ 'NO_OVERDUE_CARDS' | translate }}
                        </md-list-item>
                        <md-list-item class="md-3-line" layout ng-repeat="card in guild.cards_overdue | orderBy: 'due'"
                          ng-click="lecturerDashboardCtrl.gotoCard(card)">
                          <div class="md-list-item-text" layout="column" flex>
                            <h3>
                              {{ card.name }}
                            </h3>
                            <h4>
                              {{ card.due | momentDate : "dddd D MMMM @H:mm"}}
                            </h4>
                            <p>
                              ({{ card.due | fromNow }})
                            </p>
                          </div>
                          <md-button layout class="md-icon-button" aria-label="{{ card.name }}">
                            <md-icon md-svg-src="external_link_dark" class="icon__color--grey">
                            </md-icon>
                          </md-button>
                        </md-list-item>
                      </md-list>
                      <md-divider></md-divider>
                      <md-card-actions layout layout-align="end center">
                        <md-button ng-if="!guild.trello_not_configured" layout aria-label="Progress of {{ guild.name }}"
                          ui-sref="base.guilds.progress({guildUuid: guild.id})">
                          <md-icon class="icon__helper" md-svg-icon="timeline_dark"></md-icon>
                          {{ 'VIEW_PROGRESS' | translate }}
                        </md-button>
                        <md-button ng-if="guild.trello_not_configured" layout aria-label="Settings of {{ guild.name }}"
                          ui-sref="base.guilds.settings({guildUuid: guild.id})">
                          <md-icon class="icon__helper" md-svg-icon="settings_dark"></md-icon>
                          {{ 'SETTINGS' | translate }}
                        </md-button>
                      </md-card-actions>
                    </md-tab-body>
                  </md-tab>
                </md-tabs>
              </md-card>
            </div>
          </div>
        </div>
      </section>
    </section>
  </md-content>
</section>