<section>
    <md-tabs md-dynamic-height md-border-bottom class="md-primary">
        <md-tab ng-repeat="guild in guildOverviewCtrl.guilds | orderBy: 'name'">

            <md-tab-label>
                {{ guild.name }}
            </md-tab-label>

            <md-tab-body>
                <section layout-margin layout="row">
                    <md-content flex=100 flex-gt-sm="60" layout="row" class="md-whiteframe-z1">
                        <div id="{{guild.id}}" style="height: 300px;" flex="100"
                            layout="row" layout-align="center center">
                            <span ng-if="!guild.graph_data_loaded">
                                Loading objective data
                            </span>
                            <span ng-if="guild.no_graph_data">
                                No data available,
                                <a href="" ng-click="guildOverviewCtrl.addObjective(guild)">
                                    add an objective
                                </a>
                                to get a fancy graph ╚(•⌂•)╝
                            </span>
                        </div>
                    </md-content>
                    <md-content class="md-whiteframe-z1"
                        style="height: 300px;" flex="40"
                        layout="column" layout-align="space-between stretch">
                        <md-toolbar>
                            <h1 class="md-toolbar-tools">
                                Latest news
                            </h1>
                        </md-toolbar>
                        <md-virtual-repeat-container flex>
                            <md-list>
                                <md-list-item ng-if="guild.history_updates.length < 1">
                                    Updates will appear in this box when you perform an action on this page.
                                </md-list-item>
                                <md-list-item ng-repeat="update in guild.history_updates | orderBy: '-created_at'">
                                    <span flex=80 layout-padding>
                                        {{ update.user | fullUserName }} {{ update.action }}
                                    </span>
                                    <span>
                                        {{ update.created_at | fromNow }}
                                    </span>
                                </md-list-item>
                            </md-list>
                        </md-virtual-repeat-container>
                    </md-content>
                </section>

                <section layout-margin layout="row">
                    <md-content flex="100" class="md-whiteframe-z1">
                        <md-toolbar>
                            <div layout="row" class="md-toolbar-tools">
                                <span flex="10" layout="row" layout-align="center">
                                    <div>
                                        Completed
                                    </div>
                                </span>
                                <span flex="20">
                                    Name
                                </span>
                                <span flex="55">
                                    Objective
                                </span>
                                <span flex="10">
                                    Points
                                </span>
                                <span flex="5" layout="row" layout-align="end">
                                    <md-button class="md-icon-button"
                                    ng-click="guildOverviewCtrl.addObjective(guild)">
                                        <md-icon md-svg-icon="add_light"></md-icon>
                                        <md-tooltip md-direction="left" md-delay="1000">
                                            Add objective
                                        </md-tooltip>
                                    </md-button>
                                </span>
                            </div>
                        </md-toolbar>
                        <md-list>
                            <md-list-item ng-if="guild.objectives.length < 1">
                                <span flex=100 layout="row" layout-align="center">
                                    No objectives have been set (yet).
                                </span>
                            </md-list-item>
                            <md-list-item
                                ng-repeat="objective in guild.objectives | orderBy: ['completed', '-created_at']">
                                <!-- https://github.com/angular/material/issues/2819#issuecomment-136321546 -->
                                <span flex="10" ng-repeat="v in [0]"
                                    layout="row" layout-align="center">
                                    <md-checkbox style="margin-bottom: 0;" ng-model="objective.completed"
                                        aria-label="Toggle status"
                                        ng-click="guildOverviewCtrl.updateStatus(guild, objective)">
                                    </md-checkbox>
                                </span>
                                <span flex="20">
                                    {{ objective.name }}
                                </span>
                                <span flex="55">
                                    {{ objective.objective }}
                                </span>
                                <span flex="10">
                                    {{ objective.points | number  }}
                                </span>
                                <span flex="5" layout="row" layout-align="end">
                                    <md-button class="md-icon-button"
                                        ng-click="guildOverviewCtrl.removeObjective(guild, objective)">
                                        <md-icon md-svg-icon="delete_dark">
                                        </md-icon>
                                        <md-tooltip md-direction="left" md-delay="1000">
                                            Remove objective
                                        </md-tooltip>
                                    </md-button>
                                </span>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </section>

            </md-tab-body>

        </md-tab>
    </md-tabs>
</section>
