<section>
    <md-tabs md-dynamic-height md-border-bottom class="md-primary">
        <md-tab ng-repeat="guild in guildOverviewCtrl.guilds">

            <md-tab-label>
                {{ guild.name }}
            </md-tab-label>

            <md-tab-body>
                <section layout-margin layout="row">
                    <md-content flex="60" layout="row" class="md-whiteframe-z2">
                        <div id="{{guild.id}}" style="height: 300px;" flex="100"></div>
                    </md-content>
                    <md-content class="md-whiteframe-z2"
                        style="height: 300px;" flex="40"
                        layout="column" layout-align="space-between stretch">
                        <md-toolbar>
                            <h1 class="md-toolbar-tools">
                                Latest news
                            </h1>
                        </md-toolbar>
                        <md-virtual-repeat-container flex>
                            <md-list>
                                <md-list-item ng-repeat="update in guild.history_updates | orderBy: '-created_at'">
                                    <span flex>
                                        {{ update.user | fullUserName }} {{ update.action }}
                                    </span>
                                    <span>
                                        {{ update.created_at | fromNow }}
                                    </span>
                                </md-list-item>
                            </md-list>

                        </md-virtual-repeat-container>
                    </md-content>
                </section>

                <section layout-margin layout="row">
                    <h2 class="md-title" flex>
                        Objectives
                    </h2>
                    <md-button class="md-raised md-accent md-fab" ng-click="guildOverviewCtrl.addObjective(guild)">
                        <md-icon md-svg-icon="add_light"></md-icon>
                        <md-tooltip md-direction="left">
                            Add objective
                        </md-tooltip>
                    </md-button>
                </section>

                <section layout-margin layout="row">
                    <section ng-if="guild.objectives.length < 1">
                        No objectives have been set for this guild yet.
                        <a href='' ng-click="guildOverviewCtrl.addObjective(guild)">Add objective!</a>
                    </section>


                    <md-content flex="100" ng-if="guild.objectives.length" class="md-whiteframe-z2">
                        <md-toolbar>
                            <md-list>
                                <md-list-item>
                                    <span flex="10" layout="row" layout-align="center">
                                        Completed
                                    </span>
                                    <span flex="20">
                                        Name
                                    </span>
                                    <span flex="55">
                                        Objective
                                    </span>
                                    <span flex="10">
                                        Points
                                    </span>
                                    <span flex="5">
                                        <!-- placeholder -->
                                    </span>
                                </md-list-item>
                            </md-list>
                        </md-toolbar>
                        <md-list>
                            <md-list-item
                                ng-repeat="objective in guild.objectives | orderBy: ['completed', '-created_at']">
                                <span flex="10" ng-repeat="v in [0]"
                                    layout="row" layout-align="center">
                                    <!-- https://github.com/angular/material/issues/2819#issuecomment-136321546 -->
                                    <md-checkbox style="margin-bottom: 0;" ng-model="objective.completed"
                                        aria-label="Toggle status"
                                        ng-click="guildOverviewCtrl.updateStatus(guild, objective)">
                                    </md-checkbox>
                                </span>
                                <span flex="20">
                                    {{ objective.name }}
                                </span>
                                <span flex="55">
                                    {{ objective.objective }}
                                </span>
                                <span flex="10">
                                    {{ objective.points | number  }}
                                </span>
                                <span flex="5">
                                    <md-button class="md-icon-button"
                                        ng-click="guildOverviewCtrl.removeObjective(guild, objective)">
                                        <md-icon md-svg-icon="delete_dark">
                                            <md-tooltip md-direction="left">
                                                Remove objective
                                            </md-tooltip>
                                        </md-icon>
                                    </md-button>
                                </span>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </section>

            </md-tab-body>

        </md-tab>
    </md-tabs>
</section>
