<md-dialog flex=50 md-theme="default" aria-label="Control password">

  <md-dialog-content class="md-dialog-content" layout-padding>
    <h1 class="md-headline">
      {{ 'TEXT_PASSWORD_PROTECT' | translate }}
    </h1>
    <article>
      <p>
        {{ passwordProtectionCtrl.reason }}
      </p>
      <p>
        <md-input-container class="md-block">
          <label> {{ 'PASSWORD' | translate }} </label>
          <input type="password" ng-model="passwordProtectionCtrl.password" md-autofocus>
        </md-input-container>
      </p>
      <p>
        <em class="text--color--grey">
          {{ 'TEXT_PASSWORD_PROTECT_2' | translate }}
        </em>
      </p>
    </article>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="passwordProtectionCtrl.close()">
      <strong class="text--color--red">
        {{ 'CLOSE' | translate}}
      </strong>
    </md-button>
    <md-button ng-click="passwordProtectionCtrl.controlPassword()">
      <strong class="text--color--green">
        {{ 'CONFIRM' | translate }}
      </strong>
    </md-button>
  </md-dialog-actions>

</md-dialog>