<md-dialog flex=40 md-theme="default" aria-label="{{ aasCtrl.about }}">

    <md-toolbar class="md-title ng-binding" layout="row" layout-align="center center">
        <span class="md-headline">
            {{ aasCtrl.title }}
        </span>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">

        <div class="md-dialog-content-body">
            <p>
                {{ aasCtrl.subtitle }}
            </p>
            <md-content>
                <md-autocomplete
                    md-no-cache="true"
                    md-min-length="2"
                    md-selected-item="aasCtrl.selected_item"
                    md-search-text="aasCtrl.search_text"
                    md-search-text-change="aasCtrl.filterUsers(aasCtrl.search_text)"
                    md-selected-item-change="aasCtrl.selectPlayer(player)"
                    md-items="player in aasCtrl.filter_users | orderBy:['displayname', 'surname']"
                    placeholder="Zoek {{ aasCtrl.about }}"
                    md-menu-class="aas__autocomplete">
                    <md-item-template class="item--metadata">
                        <span class="item--metastat">
                          <img ng-if="player.avatar_hash" class="round" src="http://trello-avatars.s3.amazonaws.com/{{player.avatar_hash}}/30.png">
                          <img ng-if="!player.avatar_hash" class="round size--30" gravatar-size="30" gravatar-src="player.email">
                        </span>
                        <span class="item--metastat" md-highlight-text="aasCtrl.search_text" md-highlight-flags="^i">
                            {{ player.filter_name }}
                        </span>
                    </md-item-template>
                    <md-not-found>
                        "{{ aasCtrl.search_text }}" niet gevonden.
                    </md-not-found>

                </md-autocomplete>

                <md-list ng-if="aasCtrl.selected_users.length > 0" layout-margin>
                    <h3 class="md-subhead">
                        Geselecteerde {{ aasCtrl.about }}
                    </h3>
                    <md-list-item ng-repeat="player in aasCtrl.selected_users">
                        <div flex="20" layout-align="center center">
                            <img class="round" gravatar-size="50" gravatar-src="player.email">
                        </div>
                        <p flex>
                            {{ player.filter_name }}
                        </p>
                        <md-button class="md-icon-button" ng-click="aasCtrl.removeSelectedPlayer(player)">
                            <md-icon md-svg-icon="close_dark"></md-icon>
                            <md-tooltip md-direction="top">
                                De-selecteer {{ aasCtrl.about }}
                            </md-tooltip>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
            <md-list ng-scrollbars style="max-height: 50vh;">
                <md-list-item ng-repeat="player in aasCtrl.users_without_world">
                    <div flex="20" layout-align="center center">
                        <img class="round" gravatar-size="50" gravatar-src="player.email">
                    </div>
                    <p flex>
                        {{ player | fullUserName }}
                    </p>
                    <md-checkbox
                        ng-model="player.selected"
                        aria-label="player.displayname">
                    </md-checkbox>
                </md-list-item>
            </md-list>
        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button type="button" aria-label="Cancel"
            ng-click="aasCtrl.close()" md-ink-ripple>
            <strong class="text--color--red">Sluit</strong>
        </md-button>
        <md-button type="button" aria-label="{{ aasCtrl.about }}"
            ng-click="aasCtrl.returnPlayers()" md-ink-ripple>
            <strong class="text--color--green">{{ aasCtrl.about }} toevoegen</strong>
        </md-button>
    </md-dialog-actions>

</md-dialog>
