<cmd-loading-page ng-if="rewardsCtrl.loading_page"></cmd-loading-page>
<section layout-fill layout ng-if="!rewardsCtrl.loading_page">
    <cmd-empty-state flex ng-if="rewardsCtrl.rewards.length < 1"
        icon="redeem_light"
        headline="No rewards."
        title="Add some to reward the students.">
    </cmd-empty-state>
    <section flex=80 layout-fill ng-scrollbars
     ng-if="rewardsCtrl.rewards.length >= 1">
        <section layout layout-wrap>
            <div flex=33 layout-padding
            ng-repeat="reward in filtered = (rewardsCtrl.rewards
            | filter: {
                reward: filters.free_search
            }
            )">
                <section layout-fill>
                    <md-card layout-fill layout-align="space-between">
                        <md-card-content layout="column">
                            <section layout="column" layout-align="center center">
                                <span class="md-title" layout layout-padding layout-align="center">
                                    {{ reward.reward }}
                                </span>
                            </section>
                            <strong style="text-align: center;">
                                Cost
                            </strong>
                            <md-divider></md-divider>
                            <section layout="column">
                                <section flex layout layout-align="space-around">
                                    <div ng-repeat="cost in reward.cost | orderBy: 'rupee'">
                                        <cmd-rupee type="ruby"
                                        ng-if="cost.rupee === 1"
                                        amount="{{cost.amount}}"
                                        ></cmd-rupee>
                                        <cmd-rupee type="sapphire"
                                        amount="{{cost.amount}}"
                                        ng-if="cost.rupee === 2">
                                        </cmd-rupee>
                                        <cmd-rupee type="emerald"
                                        amount="{{cost.amount}}"
                                        ng-if="cost.rupee === 3">
                                        </cmd-rupee>
                                        <cmd-rupee type="amethyst"
                                        amount="{{cost.amount}}"
                                        ng-if="cost.rupee === 4">
                                        </cmd-rupee>
                                    </div>
                                </section>
                            </section>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button>
                                <strong>
                                    Edit
                                </strong>
                            </md-button>
                            <md-button class="md-warn"
                             ng-click="rewardsCtrl.removeReward(reward)">
                                <strong>
                                    Remove
                                </strong>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </section>
            </div>
        </section>
    </section>
    <md-content layout-fill flex=20>
        <md-subheader>
            Actions
        </md-subheader>
        <section layout="column">
            <md-button layout flex class="success md-raised"
            ng-click="rewardsCtrl.addReward()">
                <md-icon md-svg-src="redeem_light">
                </md-icon>
                <span flex>
                    New reward
                </span>
            </md-button>
        </section>
        <md-subheader>
            Filter options
        </md-subheader>
        <section layout-padding>
            <md-input-container class="md-block">
                <label>Reward</label>
                <input ng-model="filters.free_search">
            </md-input-container>
        </section>
    </md-content>
</section>
