.button {
    @extend .box-shadow--2;
    background-color: $grey;
    border: 1px solid darken($grey, 5);
    color: $black;
    padding: .3em .7em;
    margin: .5em;
    border-radius: 3px;
    &:hover {
        @extend .box-shadow--8;
        padding: .5em .9em;
        margin: .3em;
        background-color: $support_color;
        border: 1px solid $support_color-dark;
        color: $white;
        cursor: pointer;
        i {
            color: $white;
        }
    }
    &--error {
        background-color: $red;
        border: 1px solid darken($red, 5);
    }
    &--warning {
        background-color: $orange;
        border: 1px solid darken($orange, 5);
    }
    &--message {
        background-color: $yellow;
        border: 1px solid darken($yellow, 5);
    }
}
