.main__navigation {
    background-color: $nav_color;
    height: 100%;
    position: fixed;
    width: $nav_width - 1 + vw;
    left: 0;
    top: 0;
    z-index: 900;
    ul {
        li {
            padding: .7em 0;
            overflow: hidden;
            &:hover {
                background-color: $support_color-darker;
            }
            a {
                color: white;
                padding: .9em 5em .9em 1em;
                i {
                    padding-right: .3em;
                }
            }
        }
    }
}
