#main__navigation {
    md-content {
      background: $navigation_background;
        md-list {
            md-list-item {
                color: $navigation_color;
                &:focus{
                    outline: none;
                }
                a {
                    margin: 0;
                }
                &.active_menu_item {
                    background-color: #FFCC00;
                    color: white;
                    md-icon {
                        @extend .icon--color--white;
                    }
                }
            }
        }
    }
}

.active_menu_item {
    background-color: darken($sidebarBackground, 10);
}
