#main__navigation {
    md-list {
        &:focus{
            outline: none;
        }
        md-list-item {
            a {
                margin: 0;
            }
            &.active_menu_item {
                background-color: #ECF0F1;
            }
        }
    }
}
