#main__navigation {
    md-list {
        &:focus{
            outline: none;
        }
        md-list-item {
            a {
                margin: 0;
            }
            &:last-of-type {
                margin-bottom: 1em;
            }
        }
    }
}
