<md-sidenav
    md-is-locked-open="$mdMedia('gt-sm') && navigationCtrl.access >= 1"
    md-component-id="main__navigation"
    id="main__navigation"
    layout="column">

    <section layout="column">
        <md-toolbar class="md-accent" md-whiteframe="1">
            <div class="md-toolbar-tools" layout layout-align="center center">
                <md-button class="md-icon-button" ui-sref="base.home" aria-label="home">
                    <md-icon md-svg-icon="cmd_unicorn"></md-icon>
                </md-button>
                <h1 class="md-headline">
                    Athena
                </h1>
            </div>
        </md-toolbar>
    </section>

    <md-content flex ng-scrollbars>
        <section ng-repeat="group in navigationCtrl.main_navigation"
            ng-if="_.contains(group.access_levels, navigationCtrl.access)">
            <md-list>
                <md-list-item ng-repeat="item in group.items"
                ng-click="navigationCtrl.changeState(item.link_to)"
                    ng-class="{
                        'active_menu_item': navigationCtrl.active_menu_item == item.link_to,
                    }"
                    ng-if="_.contains(item.access_levels, navigationCtrl.access)"
                    ng-click="navigationCtrl.toggleNavigation(); navigationCtrl.active_menu_item = item.link_to">
                    <md-icon class="icon--color--grey"
                    md-svg-icon="{{ item.icon }}"></md-icon>
                    <span flex>{{ item.name }}</span>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</md-sidenav>
