<md-sidenav class="md-whiteframe-4dp"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="main__navigation">

    <md-list ng-click="navigationCtrl.toggleNavigation()">

        <!-- Lecturer -->
        <md-subheader>
            Lecturer
        </md-subheader>
        <md-list-item md-ink-ripple>
            <md-icon md-svg-icon="timeline_dark"></md-icon>
            <span flex>Progress</span>
        </md-list-item>
        <md-divider></md-divider>

        <!-- Student -->
        <md-subheader>
            Student
        </md-subheader>
        <md-list-item md-ink-ripple>
            <md-icon md-svg-icon="dashboard_dark"></md-icon>
            <span flex>My dashboard</span>
        </md-list-item>
        <md-list-item md-ink-ripple>
            <md-icon md-svg-icon="person_dark"></md-icon>
            <span flex>My account</span>
        </md-list-item>

    </md-list>

</md-sidenav>
