<md-sidenav class="md-whiteframe-4dp"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="main__navigation">

    <md-list ng-click="navigationCtrl.toggleNavigation()" ng-scrollbars>

        <!-- Coordinator -->
        <div>
            <md-subheader>
                Coordinator
            </md-subheader>

            <md-list-item md-ink-ripple>
                <md-icon md-svg-icon="dashboard_dark"></md-icon>
                <span flex>Dashboard</span>
            </md-list-item>
            <md-list-item ui-sref="base.worlds">
                <md-icon md-svg-icon="world_dark"></md-icon>
                <span flex>Worlds</span>
            </md-list-item>
            <md-list-item md-ink-ripple>
                <md-icon md-svg-icon="build_dark"></md-icon>
                <span flex>Tweak game</span>
            </md-list-item>

            <md-divider></md-divider>
        </div>

        <!-- Lecturer -->
        <div>
            <md-subheader>
                Lecturer
            </md-subheader>

            <md-list-item md-ink-ripple>
                <md-icon md-svg-icon="dashboard_dark"></md-icon>
                <span flex>Dashboard</span>
            </md-list-item>
            <md-list-item md-ink-ripple>
                <md-icon md-svg-icon="timeline_dark"></md-icon>
                <span flex>Progress</span>
            </md-list-item>
            <md-list-item ui-sref="base.guilds">
                <md-icon md-svg-icon="guild_dark"></md-icon>
                <span flex>Guilds</span>
            </md-list-item>

            <md-divider></md-divider>
        </div>

        <!-- Student -->
        <div>
            <md-subheader>
                Student
            </md-subheader>

            <md-list-item md-ink-ripple>
                <md-icon md-svg-icon="dashboard_dark"></md-icon>
                <span flex>Dashboard</span>
            </md-list-item>
            <md-list-item ui-sref="base.guild">
                <md-icon md-svg-icon="guild_dark"></md-icon>
                <span flex>Guild</span>
            </md-list-item>

            <md-divider></md-divider>
        </div>

        <!-- All users -->
        <div>
            <md-subheader>
                My account
            </md-subheader>

            <md-list-item ui-sref="base.account.detail">
                <md-icon md-svg-icon="person_dark"></md-icon>
                <span flex>My account</span>
            </md-list-item>
            <md-list-item ui-sref="base.account.settings">
                <md-icon md-svg-icon="settings_dark"></md-icon>
                <span flex>Settings</span>
            </md-list-item>
        </div>

    </md-list>

</md-sidenav>
