<section layout flex layout-align="center center" layout-wrap id="login__page">
    <md-card md-whiteframe=10 flex=80 flex-gt-sm=60 flex-gt-md=25 flex-gt-lg=20 layout-padding>
        <md-card-content layout="column">

            <section layout="column" layout-align="center center">
                <md-icon layout-padding class="icon--size--96" md-svg-src="cmd_unicorn"></md-icon>
                <h1 class="md-headline">Enter Athena</h1>
            </section>

            <!-- User login -->
            <md-input-container>
                <label>HvA-ID</label>
                <input type="text" ng-model="accountLoginCtrl.login_form.username">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="accountLoginCtrl.login_form.password">
            </md-input-container>

            <section layout layout-align="space-between center">
              <md-checkbox ng-model="accountLoginCtrl.login_form.remember" style="margin-bottom: 0;">
                Remember me
              </md-checkbox>
              <md-button ui-sref="base.account.forgot" class="md-primary md-hue-1" md-no-ink>
                Forgot password
              </md-button>
            </section>

        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="column">
            <md-button class="md-primary md-raised" ng-click="accountLoginCtrl.login()">
                Login
            </md-button>
        </md-card-actions>

    </md-card>
</section>
