<section layout="row" layout-align="center center" layout-wrap style="height: 85vh;">
    <md-card
        flex-xs="90"
        flex-gt-xs="70"
        flex-gt-sm="60"
        flex-gt-md="30"
        flex-gt-lg="20">

        <md-toolbar class="md-primary">
            <md-card-title class="md-toolbar-tools">
                <md-card-title-text class="md-headline" flex layout-margin>
                    Login to [PLATFORM NAME]
                </md-card-title-text>
            </md-card-title>
        </md-toolbar>

        <md-card-content>

            <!-- User login -->
            <div layout="column">
                <md-input-container>
                    <label>HvA-ID</label>
                    <input type="text" ng-model="accountLoginCtrl.login_form.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="accountLoginCtrl.login_form.password">
                </md-input-container>
            </div>

            <!-- What kind of account do you want to login to -->
            <md-radio-group layout="row" ng-model="accountLoginCtrl.login_form.login_type">
                <md-radio-button value="student">
                    Student
                </md-radio-button>
                <md-radio-button value="lecturer">
                    Lecturer
                </md-radio-button>
            </md-radio-group>

        </md-card-content>
        <md-divider></md-divider>

        <md-card-actions layout="row" layout-align="end center">
            <md-button aria-label="Change world settings" ng-click="accountLoginCtrl.login()">
                <md-icon md-svg-icon="world_dark"></md-icon>
                Enter [PLATFORM NAME]
            </md-button>
            <md-button ui-sref="base.account.forgot">
                <md-icon md-svg-icon="help_dark"></md-icon>
                Forgot password
            </md-button>
        </md-card-actions>

    </md-card>
</section>
